/* == Valanx.org AEC Membership Management - admin.css == */

#aec_wrap {
overflow: hidden;
margin-left: -1px;
margin-right: -1px;
}

.topbar {
position: relative;
z-index: 50;
margin-bottom: 0;
}

.topbar .container {
width: 820px;
}

.topbar div > ul a, .nav a {
outline: 0 none !important;
}

.topbar a.brand {
outline: 0 none !important;
}

.nav-pills a {
line-height: 12px;
padding: 10px;
}

.topbar-inner {
background-color: #850d0d;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#850d0d), to(#c31313));
background-image: -moz-linear-gradient(top, #850d0d, #c31313);
background-image: -ms-linear-gradient(top, #850d0d, #c31313);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #850d0d), color-stop(100%, #c31313));
background-image: -webkit-linear-gradient(top, #850d0d, #c31313);
background-image: -o-linear-gradient(top, #850d0d, #c31313);
background-image: linear-gradient(top, #850d0d, #c31313);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#850d0d', endColorstr='#c31313', GradientType=0);
-webkit-box-shadow: 0 1px 3px rgba(1, 1, 1, 0.75), 0 -1px 5px rgba(1, 1, 1, 0.6) inset;
-moz-box-shadow: 0 1px 3px rgba(1, 1, 1, 0.75), 0 -1px 5px rgba(1, 1, 1, 0.6) inset;
box-shadow: 0 1px 3px rgba(1, 1, 1, 0.75), 0 -1px 5px rgba(1, 1, 1, 0.6) inset;
border-top-right-radius: 0;
-moz-border-radius-topright: 0;
border-top-left-radius: 0;
-moz-border-radius-topleft: 0;
border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
border-bottom-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
}

.topbar .nav > li > a {
color: #f9f9f9;
font-size: 110%;
}

.topbar form {
margin: 5px 0 -5px;
}

.topbar div > ul, .nav {
padding-left: 10px;
}

.dropdown-menu {
background-color: #850d0d;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#850d0d), to(#c31313));
background-image: -moz-linear-gradient(top, #850d0d, #c31313);
background-image: -ms-linear-gradient(top, #850d0d, #c31313);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #850d0d), color-stop(100%, #c31313));
background-image: -webkit-linear-gradient(top, #850d0d, #c31313);
background-image: -o-linear-gradient(top, #850d0d, #c31313);
background-image: linear-gradient(top, #850d0d, #c31313);
}

.typeahead {
background-color: #fff;
background-image: none;
width: 400px;
}

.topbar div > ul .menu-dropdown li a,
.nav .menu-dropdown li a,
.topbar div > ul .dropdown-menu li a,
.nav .dropdown-menu li a {
color: #fff;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
color: #ffffff;
text-decoration: none;
background-color: #000;
}

.topbar-fixed {
position: fixed;
top: 0;
z-index: 1030;
width: 96.8%;
margin: 0 auto;
}

.topbar-fixed .nav {
margin: 0 auto;
}

a.brand {
background: url(../images/admin/icons/aec_logo_small_header.png) no-repeat scroll 50% 30% transparent;
text-indent: 36px;
}

.tabs, .nav-pills {
font-size: 110%;
}

div.adminheading {
float: left;
padding: 18px;
}

div.adminheading h2 {
float: left;
padding-left: 18px;
line-height: 64px;
}

ul.nav-pills {
margin: 0 auto;
width: 600px;
padding-top: 40px;
text-align: center;
}

.pill-content {
float: left;
width: 100%;
}

.tabs > li, .nav-pills > li {
display: inline-block;
float: none;
}

.aec-buttons {
float: right;
margin-top: 6px;
margin-right: 1px;
padding: 23px;
background: #fff;
border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
border-bottom-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
}

.aec-buttons-fixed {
position: fixed;
top: 24px;
right: 10px;
padding-top: 30px;
z-index: 30;
-webkit-box-shadow: 0 1px 3px rgba(1, 1, 1, 0.35);
-moz-box-shadow: 0 1px 3px rgba(1, 1, 1, 0.35);
box-shadow: 0 1px 3px rgba(1, 1, 1, 0.35);
background: #f9f9f9;
}

.btn-hl {
border-left: 1px solid #999999;
}

.aec-filters {
margin: 0 auto 24px;
width: 540px;
padding: 6px 15px;
background: #eee;
-webkit-box-shadow: 0 1px 3px rgba(1, 1, 1, 0.35);
-moz-box-shadow: 0 1px 3px rgba(1, 1, 1, 0.35);
box-shadow: 0 1px 3px rgba(1, 1, 1, 0.35);
border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
border-bottom-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
}

.aec-filters-wide {
width: 580px;
height: 140px;
}

.aec-filters ul {
list-style: none;
}

ul.input-list li {
text-align: left;
text-indent: 14px;
margin-bottom: -2px;
}

ul.input-list li input {
margin-right: 6px;
}

a#filter-button {
display: block;
clear: both;
}

.aec-filters label {
text-align: left;
width: inherit;
margin-left: 10px;
}

.aec-filters-wide label {
width: 100%;
}

.aec-filters input.search {
width: 50%;
margin: 6px 25%;
}

.aec-filters .controls-list {
padding-left: 4px;
}

.aec-filters .btn {
margin: 4px 48%;
}

.aec-filters .filter-sub .btn {
margin: 18px 30%;
}

.aec-filters .filter-sub .search {
margin: -2px 0 0;
width: 130px;
}

.aec-filters p .btn {
margin: 0px 90%;
}

.aec-filters input,
.aec-filters textarea,
.aec-filters select,
.aec-filters .uneditable-input {
margin-bottom: 0;
}

.filter-sub {
float: left;
padding: 2px 2%;
}

.filter-sub .control {
margin-bottom: 12px;
}

.aec-buttons .btn {
margin: 0 3px;
padding: 8px 14px;
}

.aec-buttons .btn-group {
margin: 12px 3px -11px 3px;
display: inline-block;
}

.btn-group .btn {
margin: 0;
}

.btn-group-pagination {
width: 66px;
margin-top: 3px;
}

.btn-group-pagination .btn {
padding: 0 8px;
}

.tooltip-inner {
font-size: 14px;
padding: 6px 10px;
text-align: left;
}

a.btn,
a.btn:link {
color: #333;
text-decoration: none;
}

a.btn-primary,
a.btn-primary:link,
a.btn-info,
a.btn-info:link,
a.btn-success,
a.btn-success:link,
a.btn-warning,
a.btn-warning:link,
a.btn-danger,
a.btn-danger:link {
color: #fff;
}

.btn.disabled, .btn[disabled] {
    opacity: 0.35;
}

a.btn span {
display: none;
}

a.btn span.btnhover {
margin-left: 8px;
display: inline;
}

.btn-toggle-warning,
.btn-toggle-warning:hover,
.btn-toggle-danger,
.btn-toggle-danger:hover,
.btn-toggle-success,
.btn-toggle-success:hover  {
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
color: #ffffff;
padding: 2px 10px;
margin-top: 1px;
}
.btn-toggle-warning {
background-color: #faa732;
background-image: -moz-linear-gradient(top, #fbb450, #f89406);
background-image: -ms-linear-gradient(top, #fbb450, #f89406);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
background-image: -o-linear-gradient(top, #fbb450, #f89406);
background-image: linear-gradient(top, #fbb450, #f89406);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
border-color: #f89406 #f89406 #ad6704;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-toggle-warning:hover,
.btn-toggle-warning:active,
.btn-toggle-warning.active,
.btn-toggle-warning.disabled,
.btn-toggle-warning[disabled] {
background-color: #f89406;
}
.btn-toggle-warning:active, .btn-toggle-warning.active {
background-color: #c67605 \9;
}
.btn-toggle-danger {
background-color: #da4f49;
background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
background-image: linear-gradient(top, #ee5f5b, #bd362f);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
border-color: #bd362f #bd362f #802420;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-toggle-danger:hover,
.btn-toggle-danger:active,
.btn-toggle-danger.active,
.btn-toggle-danger.disabled,
.btn-toggle-danger[disabled] {
background-color: #bd362f;
}
.btn-toggle-danger:active, .btn-toggle-danger.active {
background-color: #942a25 \9;
}
.btn-toggle-success {
background-color: #5bb75b;
background-image: -moz-linear-gradient(top, #62c462, #51a351);
background-image: -ms-linear-gradient(top, #62c462, #51a351);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
background-image: -webkit-linear-gradient(top, #62c462, #51a351);
background-image: -o-linear-gradient(top, #62c462, #51a351);
background-image: linear-gradient(top, #62c462, #51a351);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
border-color: #51a351 #51a351 #387038;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-toggle-success:hover,
.btn-toggle-success:active,
.btn-toggle-success.active,
.btn-toggle-success.disabled,
.btn-toggle-success[disabled] {
background-color: #51a351;
}
.btn-toggle-success:active, .btn-toggle-success.active {
background-color: #408140 \9;
}
.bsicon-rotate {
-moz-transition: all 1s linear;
-webkit-transition: all 1s linear;
-o-transition: all 1s linear;
transition: all 1s linear;
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}

.btn-after {
margin-left: 8% !important;
padding: 3px 8px;
}

#aec_center {
text-align: center;
padding: 12px;
}

#aec_center .aec_userinfobox_sub {
padding-bottom: 18px;
}

label {
width: 48%;
padding-right: 12px;
line-height: 16px;
}

.form-horizontal .control-group > label {
width: 48%;
}

.form-horizontal .accordion-inner .control-group > label {
width: 18%;
}

.form-horizontal .accordion-inner .controls {
margin-left: 22%;
width: 78%;
}

div.control-group form .controls {
float: left;
text-align: center;
}

.form-horizontal .controls {
margin-left: 54%;
width: 48%;
}

div.control-group .controls>* {
margin: 0 auto;
vertical-align: middle;
}

form .control-group {
width: 100%;
margin-bottom: 16px;
}

.form-noindent .controls {
margin-left: 18%;
width: 80%;
}

.form-noindent  .control-group > label {
width: 15%;
}

.control-group>div.controls>span {
display: inline-block;
font-size: 120%;
font-weight: bold;
padding-top: 6.5px;
}

div.controls ul {
margin: 0;
padding-left: 14px;
list-style: circle;
}

div.controls select {
width: 70%;
}

.well {
padding-top: 19px;
margin-top: 10px;
}

.progress {
margin-top: 1px;
margin-bottom: 0;
}

.progress,
.progress .bar {
height: 20px;
}

.progress-group {
width: 100%;
}

.progress-group .progress {
width: 50%;
display: inline-block;
float: left;
}

.progress-group .progress:first-child {
-webkit-border-radius: 4px 0 0 4px;
-moz-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
}

.progress-group .progress:last-child {
-webkit-border-radius: 0 4px 4px 0;
-moz-border-radius: 0 4px 4px 0;
border-radius: 0 4px 4px 0;
}

.progress-group .progress:first-child .bar {
float: right;
}

.progress .bar {
float: left;
}

.progress .bar a,
.progress .bar a:hover {
color: #fff;
}

.progress-content {
float: left;
padding: 4px;
font-weight: bold;
line-height: 120%;
}

.bar .progress-content {
width: 90%;
padding: 4px;
line-height: 100%;
}

.progress-short .bar .progress-content {
width: 80%;
}

.progress-group .progress:first-child .progress-content {
float: right;
}

.form-stacked {
padding-left: 20px;
vertical-align: top;
}

.form-stacked fieldset {
padding-top: 9px;
}

.form-stacked legend {
padding-left: 0;
}

.form-stacked label {
display: block;
float: none;
width: auto;
font-weight: bold;
text-align: left !important;
line-height: 20px;
padding-top: 0;
}

.form-stacked .control-group {
margin-bottom: 9px;
}

td>.control-group {
margin: 4px -14px !important;
text-align: right !important;
}

.form-stacked .control-group div.controls {
margin-left: 0;
}

.form-stacked div.control-group.error {
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
margin-top: 0;
margin-left: -10px;
}

.form-stacked .actions {
margin-left: -20px;
padding-left: 20px;
}

.form-stacked .controls select {
width: 220px;
}

.form-stacked .control-group > label {
width: 100%;
}

.form-wide .control-group > label {
width: 30%;
}

.form-wide .controls {
width: 66%;
margin-left: 34%;
}

.form-wide .controls select {
width: 100%;
}

.right-btns {
text-align: right;
padding-bottom: 12px;
}

.right-btns a {
margin-left: 8px;
}

.right-btns .btn-group {
display: inline-block;
}

div.liner {
border-bottom: 1px dashed #999999;
height: 16px;
margin: 0 33%;
position: absolute;
width: 22%;
}

h5 {
line-height: 14px;
margin: 12px 2px 2px;
}

.popover .inner {
width: 320px;
background: #850d0d;
}

.popover .title {
margin: 0;
}

.popover .arrow {
border-bottom: 5px solid #850d0d;
}

.popover .content {
padding: 2px 14px 14px;
}

.lookupresult {
width: 43%;
padding: 0 1%;
margin: 1%;
display: inline-block;
text-align: center;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background: #eee;
vertical-align: top;
}

.lookupresult span.search-match {
background: #fda;
padding: 0 1px;
}

div.controls>div>div {
margin: 0 auto;
width: 550px;
}

.accordion-heading .accordion-toggle {
background: #e5e5e5;
outline: none;
font-size: 120%;
font-weight: bold;
}

.accordion-inner {
padding: 14px 15px 2px;
background: #f5f5f5;
}

.ui-multiselect-header {
background: #aaa;
border: none !important;
border-bottom-left-radius: 0 !important;
border-bottom-right-radius: 0 !important;
margin: -4px -4px 0 !important;
padding: 5px !important;
}

.ui-multiselect {
margin: 1px 0;
}

.ui-multiselect-checkboxes {
overflow-y: auto !important;
height: auto !important;
max-height: 215px;
}

.ui-multiselect-checkboxes label {
width: 99%;
padding: 2px 1px !important;
margin-bottom: 0px;
}

.ui-multiselect-menu input {
display: inline-block;
}

.ui-multiselect-menu label span {
display: inline-block;
margin-left: 6px;
}

.ui-widget {
margin-top: 2px;
-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35), 0 4px 1px rgba(255, 255, 255, 0.25);
-moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35), 0 4px 1px rgba(255, 255, 255, 0.25);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35), 0 4px 1px rgba(255, 255, 255, 0.25);
}

.tooltip-inner {
-webkit-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.15);
box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.15);
}

.ui-datepicker {
margin-left: -4px;
}

#status-group-select,
#plan-filter-select,
#group-filter-select {
opacity: 0;
height: 1px;
}

#aec_center h3 {
clear: both;
display: block;
font-size: 24px;
margin: 12px 0 16px;
text-shadow: 0 1px 2px #bbb;
}

a.btn-primary,
a.btn-primary:link,
a.btn-info,
a.btn-info:link,
a.btn-success,
a.btn-success:link,
a.btn-warning,
a.btn-warning:link,
a.btn-danger,
a.btn-danger:link {
color: #fff !important;
}

#aec_center div.btn {
padding: 0 4px;
}

#aec_center div.btn a {
display: block;
float: left;
height: 100px;
width: 90px;
vertical-align: middle;
text-decoration : none;
}

#aec_center div.btn a:link {
font-size: 0.9em;
color : #808080;
}

#aec_center div.btn:hover {
color : #333;
}

#aec_center div.btn a:active {
color : #808080;
}

#aec_center div.btn a:visited {
color : #808080;
}

#aec_center div.btn img {
margin-top: 11px;
}

#aec_center div.btn span {
display: block;
padding-top: 3px;
}

div.central_group {
clear: both;
}

div.central_quicksearch {
clear: both;
padding: 6px 12px 12px 12px;
margin: 12px auto;
max-width: 840px;
}

div.central_buttons {
margin: 12px auto;
max-width: 840px;
}

div.central_buttons a {
outline: 0 none !important;
}

div.central_buttons .aec-symbol {
margin: 12% 15% 2%;
}

div.central_notices {
margin: 12px auto;
max-width: 840px;
}

div.central_notices .alert {
text-align: left;
}

div.central_notices .warning {
text-align: left;
background-image: -khtml-gradient(linear, center top, center bottom, from(#d6aa1a), to(#b59512));
background-image: -moz-linear-gradient(center top , #d6aa1a 0pt, #b59512 100%);
background-image: -ms-linear-gradient(center top , #d6aa1a 0pt, #b59512 100%);
background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #d6aa1a), color-stop(100%, #b59512));
background-image: -webkit-linear-gradient(center top , #d6aa1a 0pt, #b59512 100%);
background-image: -o-linear-gradient(center top , #d6aa1a 0pt, #b59512 100%);
background-image: linear-gradient(center top , #d6aa1a 0pt, #b59512 100%);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
color: #fff;
}

div.central_notices .alert p {
margin-top: 2px;
}

div.central_notices .alert h5 {
margin: 4px 0;
}

div.central_notices .alert .help-block {
color: #999;
float: right;
margin-top: -13px;
max-width: 600px;
}

.centerlogo {
background-color:#fff;
background-position: top center;
background-repeat: repeat-y;
padding: 60px 30px;
text-shadow: 0 1px 4px #999;
}

img.dist-title {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
box-shadow: 0 1px 4px #999;
}

h1.importance_1 {
color: #4C0;
}

strong.importance_1 {
color: #4C0;
}

h1.importance_2 {
color: #DD0;
}

strong.importance_2 {
color: #DD0;
}

h1.importance_3 {
color: #C30;
}

strong.importance_3 {
color: #C30;
}

.diagnose {
background-color: #EED;
margin: 5px;
padding: 3px 3px 12px 3px;
}

.diagnose p {
margin-left: 92px;
}

.diagnose p.notice_0 {
margin-left: 92px;
background-color: #eee0dd;
}

.diagnose p.notice_1 {
margin-left: 92px;
}

.diagnose h1 {
margin-left: 80px;
}

.diagnose img {
position: relative;
float: left;
padding: 2px;
}

table.adminform th {
color: #586c79;
}

img.aec_icon {
vertical-align: bottom;
padding-right: 4px;
}

.aecadminform {
background-color: #ddd;
border-collapse: collapse;
width: 100%;
box-shadow: 0 1px 7px #000 inset, 0 1px 4px #ccc;
float: left;
}

.aeclegend {
float: left;
width: 100%;
}

.aecadminform_seamless {
border-collapse: collapse;
margin: -14px 0 15px -1px;
width: 100%;
box-shadow: 0 4px 7px #aaa inset;
float: left;
}

.aecadminform td,
.aecadminform_seamless td {
vertical-align: top;
}

.userinfobox {
position: relative;
float: left;
margin: 0.4%;
width: 100%;
}

div.aec-invoices-pagination {
margin-top: 12px;
text-align: center;
}

.aec_userinfobox_sub {
background-color: #f9f9e9;
margin: 1%;
padding: 4px 16px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(255, 255, 255, 0.25);
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(255, 255, 255, 0.25);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(255, 255, 255, 0.25);
overflow: hidden;
}

.aec_userinfobox_sub_inline {
display: inline-block;
vertical-align: top;
}

.aec_userinfobox_sub h4 {
border-bottom: 1px solid #999;
color: #555;
margin: 0px 12px 24px;
text-align: center;
font-size: 20px;
text-shadow: 0 1px 2px #bbb;
line-height: 36px;
}

table .span6 {
width: 90%;
}

.infobox_table {
margin-bottom: 24px;
width: 100%;
}

.infobox_table th {
border-bottom: 1px dashed #999;
text-align: left;
padding: 6px;
background: #ffffef !important;
}

.infobox_table td {
padding: 6px;
background: #ffffef;
}

.infobox_table tr.current-focus td {
background: #eff;
}

.aecadminform h2 {
margin-left: 12px;
text-shadow: 0 1px 2px #bbb;
}

#accordion .userinfobox {
width : 100%;
}

.userinfobox div.action {
position: relative;
float: right;
padding-right: 10px;
color: #555;
border-bottom: solid 3px #998;
margin-top: -8px;
margin-right: 50px;
clear: right;
}

.userinfobox div.action:hover {
position: relative;
float: right;
padding-right: 10px;
color: #555;
background-color: #fafaf4;
border-bottom: solid 3px #998;
margin-top: -8px;
margin-right: 50px;
clear: right;
}

.userinfobox h3 {
position: relative;
float: right;
padding-right: 10px;
color: #555;
font-size: 20px;
margin-top: 4px;
}

.userinfobox pre {
display: block;
width: 800px;
color: #000;
background-color: #e5f4ff;
border-left: 2px solid #998;
border-top: 2px solid #998;
border-right: 2px solid #fff;
border-bottom: 2px solid #fff;
padding: 10px;
}

.userinfobox div.important {
position: relative;
float: right;
clear: right;
margin-right: 18px;
width: 100px;
height: 110px;
background-image: url(../images/admin/gfx/important_sign.png);
}

.userinfobox div.explainblock {
position: relative;
float: left;
margin-left: 5%;
padding-left: 10px;
border-left: 3px solid #998;
}

div.rewriteinfoblock {
display: block;
color: #000;
padding: 4px;
margin-bottom: 4px;
}

div.setting_desc {
position: relative;
float: left;
padding: 11px;
clear: left;
width: 210px;
}

div.setting_form {
padding: 5px;
}

div.clear div.setting_desc {
clear: both;
}

fieldset {
clear: both;
}

div#aec-footer {
clear: both;
padding: 12px 0;
}

.aec_toggler {
color: #222;
margin: 0;
margin-top: 3px;
padding: 2px 5px;
background: #eee;
border-bottom: 1px solid #ddd;
border-right: 1px solid #ddd;
border-top: 1px solid #f5f5f5;
border-left: 1px solid #f5f5f5;
font-size: 11px;
font-weight: normal;
font-family: 'Andale Mono', sans-serif;
clear: left;
float: none !important;
font-size: 11px !important;
line-height: 20px;
}

.small_accordion {
margin: 4px;
width: 340px;
}

.accordion {
margin: 4px;
}

.element {

}

.element p {
margin: 0;
padding: 4px;
}

.float-right {
padding:10px 20px;
float:right;
}

blockquote {
text-style:italic;
padding:5px 0 5px 30px;
}

.aec_readout {
margin: 0 auto;
border-bottom: solid 3px #998;
width: 50%;
}

.aec_readout_bit {
padding: 12px 3px 12px 6px;
border-bottom: solid 3px #998;
margin-bottom: 16px;
}

.aec_readout_bit td {
padding: 4px;
}

.aec_readout_bit th {
border-bottom: 1px dashed #999;
}

.aec_import {
font-align: right;
margin: 0 auto;
padding: 12px 3px 12px 6px;
border-bottom: solid 3px #998;
width: 680px;
}

.aec_import_large {
font-align: right;
margin: 0 auto;
padding: 12px 3px 12px 6px;
border-bottom: solid 3px #998;
width: 98%;
}

table#aec_import_table {
width: 100%;
margin-bottom: 12px;
}

table#aec_import_table th {
text-align: left;
background-color: #ddd;
}

table#aec_import_table td {
background: #fff;
padding: 3px;
}

div.aec_processor_experimentalnote {
margin: 12px;
border: 1px solid #c16161;
background-color: #eaa;
padding: 12px;
}

.aec_backend_page_heading {
color: #586c79;
height: 70px;
padding-left: 70px;
font-size: 24px;
}

div.aec_processor_experimentalnote h1 {
color: #000;
}

div.aec_processor_experimentalnote p {
font-size: 130%;
}

div#aec-toolbox-list {
width: 50%;
padding: 20px;
min-width: 400px;
margin: 0 25%;
}

div#aec-toolbox-result {
margin: 0px auto;
width: 93%;
background: #fff;
border: 2px solid #eee;
font-size: 120%;
padding: 2%;
max-width: 1024px;
overflow-x: scroll;
}

div#aec-toolbox-form .controls {
margin-left: 25%;
}

div#aec-toolbox-form submit {
margin: 40px 10px 10px;
position: relative;
right: -50%;
}

td.aec_bigcell {
overflow-x: auto;
max-width: 1000px;
}

.icon-32-extensions {
background-image:url(../images/admin/icons/aec_central_icon.png);
}

div.current input, div.current textarea, div.current select {
float: inherit !important;
}

#aec_iconlist_flag_blue { background: url(../images/site/icons/flag_blue.png) no-repeat; text-indent: 14px; }
#aec_iconlist_flag_green { background: url(../images/site/icons/flag_green.png) no-repeat; text-indent: 14px; }
#aec_iconlist_flag_orange { background: url(../images/site/icons/flag_orange.png) no-repeat; text-indent: 14px; }
#aec_iconlist_flag_purple { background: url(../images/site/icons/flag_purple.png) no-repeat; text-indent: 14px; }
#aec_iconlist_flag_pink { background: url(../images/site/icons/flag_pink.png) no-repeat; text-indent: 14px; }
#aec_iconlist_flag_red { background: url(../images/site/icons/flag_red.png) no-repeat; text-indent: 14px; }
#aec_iconlist_flag_yellow { background: url(../images/site/icons/flag_yellow.png) no-repeat; text-indent: 14px; }

#aec_colorlist_BBDDFF { background: #BBDDFF !important; }
#aec_colorlist_5F8BC4 { background: #5F8BC4 !important; }
#aec_colorlist_A2BE72 { background: #A2BE72 !important; }
#aec_colorlist_DDFF99 { background: #DDFF99 !important; }
#aec_colorlist_D07C30 { background: #D07C30 !important; }
#aec_colorlist_C43C42 { background: #C43C42 !important; }
#aec_colorlist_AA89BB { background: #AA89BB !important; }
#aec_colorlist_B7B7B7 { background: #B7B7B7 !important; }
#aec_colorlist_808080 { background: #808080 !important; }

.aec-symbol {
width: 64px;
height: 64px;
float: left;
background-image: url(../images/admin/icons/aec_symbols_sprite.png);
background-position: 0 0;
background-repeat: no-repeat;
*margin-right: .3em;
}

.aec-symbol-active {
background-position: 0 0;
}

.aec-symbol-expired {
background-position: -64px 0;
}

.aec-symbol-closed {
background-position: -128px 0;
}

.aec-symbol-cancelled {
background-position: -192px 0;
}

.aec-symbol-hold {
background-position: -256px 0;
}

.aec-symbol-edit {
background-position: -320px 0;
}

.aec-symbol-pending {
background-position: -384px 0;
}

.aec-symbol-excluded {
background-position: -448px 0;
}

.aec-symbol-manual {
background-position: 0 -64px;
}

.aec-symbol-plans {
background-position: -64px -64px;
}

.aec-symbol-itemgroups {
background-position: -128px -64px;
}

.aec-symbol-export {
background-position: -192px -64px;
}

.aec-symbol-import {
background-position: -256px -64px;
}

.aec-symbol-history {
background-position: -320px -64px;
}

.aec-symbol-microintegrations {
background-position: -384px -64px;
}

.aec-symbol-invoices {
background-position: -448px -64px;
}

.aec-symbol-eventlog {
background-position: 0 -128px;
}

.aec-symbol-settings {
background-position: -64px -128px;
}

.aec-symbol-stats {
background-position: -128px -128px;
}

.aec-symbol-toolbox {
background-position: -192px -128px;
}

.aec-symbol-coupons {
background-position: -256px -128px;
}

.aec-symbol-coupons-static {
background-position: -320px -128px;
}

.aec-symbol-css {
background-position: -384px -128px;
}

.aec-symbol-templates {
background-position: -448px -128px;
}

.aec-symbol-processors {
background-position: 0 -192px;
}

/* Overrides */

table.adminlist .pagination {
margin: 3px auto -10px;
}

table.adminlist .pagination a {
line-height: 24px;
}

table.adminlist .pagination i {
margin-top: 4px;
opacity: 0.8;
filter: alpha(opacity=80);
}

table.adminlist .pagination .off i {
opacity: 0.5;
filter: alpha(opacity=50);
}

.pagination div.limit {
height: inherit;
line-height: 31px;
margin: -4px 10px;
}

div.limit select {
width: 48px;
padding: 1px;
margin-left: 8px;
background: #eee;
margin-top: 5px;
}

#submenu-box {
display: none !important;
}

.submenu-box, div.m {
background: #fff;
}

#toolbar-box {
display: none !important;
}

#element-box div.t, #element-box div.t div.t, #element-box div.t div.t div.t,
#element-box div.b, #element-box div.b div.b, #element-box div.b div.b div.b {
height: 0;
background: none;
padding: 0;
}

#element-box, #toolbar-box, #submenu-box {
padding: 0;
font-size: 11px;
}

#element-box div.m {
border: none;
padding: 0 !important;
}

#content-box div.m {
padding: 0;
}

#content-box .padding {
padding: 0 !important;
}

#system-message {
margin: 0 0 -10px -25px;
}

.prettyprint {
background-color: #fefbf3;
border: 1px solid rgba(0, 0, 0, 0.2);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
padding: 9px;
line-height: 120%;
font-size: 100%;
}

table.adminlist thead th {
border-bottom: none;
padding: 4px 10px;
text-align: center;
}

table.adminlist td {
text-align: center;
line-height: 200%;
}

table.adminlist .leftalign {
text-align: left;
}

table.table-striped tr:hover td {
background: #ffd;
}

table.adminlist thead th:nth-child(1) {
border-left: none;
}

.notice_level_2 {
background: #ddd !important;
}

.notice_level_8 {
background-color: #5bb75b !important;
background-image: -moz-linear-gradient(top, #62c462, #51a351) !important;
background-image: -ms-linear-gradient(top, #62c462, #51a351) !important;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351)) !important;
background-image: -webkit-linear-gradient(top, #62c462, #51a351) !important;
background-image: -o-linear-gradient(top, #62c462, #51a351) !important;
background-image: linear-gradient(top, #62c462, #51a351) !important;
background-repeat: repeat-x !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0) !important;
color: #fff;
}

.notice_level_32 {
background-color: #faa732 !important;
background-image: -moz-linear-gradient(top, #fbb450, #f89406) !important;
background-image: -ms-linear-gradient(top, #fbb450, #f89406) !important;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406)) !important;
background-image: -webkit-linear-gradient(top, #fbb450, #f89406) !important;
background-image: -o-linear-gradient(top, #fbb450, #f89406) !important;
background-image: linear-gradient(top, #fbb450, #f89406) !important;
background-repeat: repeat-x !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0) !important;
color: #fff;
}

.notice_level_128 {
background-color: #da4f49 !important;
background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f) !important;
background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f) !important;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f)) !important;
background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f) !important;
background-image: -o-linear-gradient(top, #ee5f5b, #bd362f) !important;
background-image: linear-gradient(top, #ee5f5b, #bd362f) !important;
background-repeat: repeat-x !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0) !important;
color: #fff;
}

.button2-left .page a,
.button2-right .page a,
.button2-left .page span,
.button2-right .page span,
.button2-left .blank a,
.button2-right .blank a,
.button2-left .blank span,
.button2-right .blank span {
line-height: 25px;
}

.button2-left, .button2-right, .button2-left div, .button2-right div {
background: none;
}

.button2-right .start,
.button2-right.off .start,
.button2-right .prev,
.button2-right.off .prev {
background: none;
}

.button2-left.off .end,
.button2-left .end,
.button2-left.off .next,
.button2-left .next,
.button2-left .page,
.button2-left .blank {
background: none;
}

.button2-right a, .button2-right span,
.button2-left a, .button2-left span {
padding: 0;
}

div.button2-right span,
div.button2-left span,
div.button2-right a,
div.button2-left a {
padding: 0 12px;
}

div.page span,
div.page a,
div.button2-right a,
div.button2-left a {
border-width: 1px;
color: #555;
margin: 0 2px;
border-radius: 3px;
text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
border-color: #bbb #ccc #ccc;
}

div.page span,
div.button2-right span,
div.button2-left span {
background-image: -khtml-gradient(linear, center top, center bottom, from(#e6e6e6), to(#dcdcdc));
background-image: -moz-linear-gradient(center top , #e6e6e6 0pt, #dcdcdc 100%);
background-image: -ms-linear-gradient(center top , #e6e6e6 0pt, #dcdcdc 100%);
background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #e6e6e6), color-stop(100%, #dcdcdc));
background-image: -webkit-linear-gradient(center top , #e6e6e6 0pt, #dcdcdc 100%);
background-image: -o-linear-gradient(center top , #e6e6e6 0pt, #dcdcdc 100%);
background-image: linear-gradient(center top , #e6e6e6 0pt, #dcdcdc 100%);
border-left: 1px solid #aaa;
border-right: 1px solid #aaa;
border-style: solid;
border-width: 1px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 2px #aaa inset;
-moz-box-shadow: 0 1px 2px #aaa inset;
box-shadow: 0 1px 2px #aaa inset;
}

div.page a,
div.button2-right a,
div.button2-left a {
background-image: -khtml-gradient(linear, center top, center bottom, from(#fff), to(#e0e0e0));
background-image: -moz-linear-gradient(center top , #fff 0pt, #e0e0e0 100%);
background-image: -ms-linear-gradient(center top , #fff 0pt, #e0e0e0 100%);
background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #fff), color-stop(100%, #e0e0e0));
background-image: -webkit-linear-gradient(center top , #fff 0pt, #e0e0e0 100%);
background-image: -o-linear-gradient(center top , #fff 0pt, #e0e0e0 100%);
background-image: linear-gradient(center top , #fff 0pt, #e0e0e0 100%);
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-style: solid;
border-width: 1px;
border-radius: 3px;
-webkit-box-shadow: 0 0 1px #fff inset;
-moz-box-shadow: 0 0 1px #fff inset;
box-shadow: 0 0 1px #fff inset;
}

div.page a:hover,
div.button2-right a:hover,
div.button2-left a:hover {
border: 1px solid #777;
border-radius: 3px;
-webkit-box-shadow: 0 0 2px #999999;
-moz-box-shadow: 0 0 2px #999999;
box-shadow: 0 0 2px #999999;
}

div.button2-right div.start span,
div.button2-right div.prev span,
div.button2-left div.end span,
div.button2-left div.next span {
background: #eee;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border: none;
margin: 1px;
}

/* Install */

div.doesnotexist {
font-size: 18px;
}

div.packages-installed p,
div.packages-none p {
font-size: 18px;
margin: 0;
}

div.packages-installed br,
div.packages-none br {
margin-bottom: 20px;
}

div.packages-none {
border: 3px solid #706100;
background: #aa9900;
padding: 24px;
color: #fff;
margin: 16px 16px 24px;
-webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.45);
-moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.45);
box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.45);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

div.packages-installed {
border: 3px solid #4c7000;
background: #7caa00;
padding: 24px;
color: #fff;
margin: 16px 16px 24px;
-webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.45);
-moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.45);
box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.45);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

div.installmain {
float: left;
width: 600px;
-webkit-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.45);
-moz-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.45);
box-shadow: 0 6px 14px rgba(0, 0, 0, 0.45);
background: #000 url(../images/admin/gfx/aec_dist_gfx_1_0beta.jpg) no-repeat top right;
margin: 0 6px 24px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

div.install-golink {
padding: 12px;
text-align: center;
font-size: 24px;
font-weight: bold;
margin-bottom: 12px;
}

div.install-golink a,
div.install-golink a:link {
padding: 12px;
color: #333;
text-align: center;
text-shadow: 0 2px 1px rgba(255, 255, 255, 0.75);
background-color: #fafafa;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
background-repeat: no-repeat;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
border: 1px solid #ccc;
border-bottom-color: #bbb;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7), 0 0 15px rgba(255, 255, 255, 0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7), 0 0 15px rgba(255, 255, 255, 0.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7), 0 0 15px rgba(255, 255, 255, 0.5);
cursor: pointer;
}

div.install-golink a:hover {
color: #333333;
background-color: #e6e6e6;
background-position: 0 -15px;
-webkit-transition: background-position 0.1s linear;
-moz-transition: background-position 0.1s linear;
-ms-transition: background-position 0.1s linear;
-o-transition: background-position 0.1s linear;
transition: background-position 0.1s linear;
}

.installnote {
width: 92%;
margin: 6px 24px;
color: #ddd;
}
.installnote h1 {
color: #ddd;
padding: 0;
font-size: 16px;
}
.installnote p {
color: #ddd;
padding: 0 12px;
}

.modal {
max-height: inherit;
margin: -300px 0 0 -280px;
}

.modal-body h4 {
margin-bottom: 6px;
margin-top: 12px;
}

.modal-body p {
margin: 0 10px 8px 10px;
text-align: justify;
}

.modal-overlay {
background: none repeat scroll 0 0 #eee;
-webkit-box-shadow: 0 0 4px #999 inset, 0 1px 4px #ddd;
-moz-box-shadow: 0 0 4px #999 inset, 0 1px 4px #ddd;
box-shadow: 0 0 4px #999 inset, 0 1px 4px #ddd;
margin: 12px 10px 14px -16px;
padding: 14px 0 6px;
width: 106%;
}

.modal-overlay p {
text-align: center;
font-weight: bold;
}

.modal-overlay .btn {
-webkit-box-shadow: 0 2px 4px #aaa;
-moz-box-shadow: 0 2px 4px #aaa;
box-shadow: 0 2px 4px #aaa;
}