/* == Valanx.org AEC Membership Management - admin.css == */

#aec_wrap {
overflow: hidden;
color: #333;
}

#aec_wrap p {
font-size: 1.2em;
line-height: 1.5em;
}

.navbar {
z-index: 50;
margin-bottom: 0;
}

.navbar .nav {
margin: 0;
}

.navbar .container {
width: 820px;
text-align: left;
}

.navbar div > ul a, .nav a {
outline: 0 none !important;
}

.navbar a.brand {
outline: 0 none !important;
}

.nav-pills a {
line-height: 12px;
padding: 10px;
}

.navbar-inverse .navbar-inner {
background: #c31313;
-webkit-box-shadow: 0 1px 3px rgba(1, 1, 1, 0.15), 0 -1px 5px rgba(1, 1, 1, 0.4) inset;
-moz-box-shadow: 0 1px 3px rgba(1, 1, 1, 0.15), 0 -1px 5px rgba(1, 1, 1, 0.4) inset;
box-shadow: 0 1px 3px rgba(1, 1, 1, 0.15), 0 -1px 5px rgba(1, 1, 1, 0.4) inset;
border-top-right-radius: 0;
-moz-border-radius-topright: 0;
border-top-left-radius: 0;
-moz-border-radius-topleft: 0;
border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
border-bottom-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
border: none;
}

.navbar .nav > li > a {
color: #f9f9f9;
font-size: 110%;
font-weight: bold;
padding: 12px 15px;
}

.navbar form {
margin: 5px 0 -5px;
}

.navbar div > ul, .nav {
padding-left: 10px;
}

.dropdown-menu {
min-width: 100px;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
background-color: #850d0d;
}

.navbar .nav > li > .dropdown-menu:after,
.navbar .nav > li > .dropdown-menu:before {
left: 45%;
}

.dropdown-menu .divider {
margin: 2px 1px;
}

.dropdown-menu a {
padding: 2px 20px;
}

.typeahead {
background-color: #fff;
background-image: none;
width: 400px;
}

pre {
text-align: left;
}

.navbar-fixed-top {
width: 84px;
overflow: hidden;
-moz-transition: width 0.6s ease;
-webkit-transition: width 0.6s ease;
-o-transition: width 0.6s ease;
transition: width 0.6s ease;
}

.navbar-fixed-top .navbar-inner {
border-top-right-radius: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 0;
-moz-border-radius-topleft: 0;
border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
border-bottom-left-radius: 0;
-moz-border-radius-bottomleft: 0;
}

.navbar-fixed-top .container {
width: 880px;
}

.head-minify {
position: absolute;
top: 2px;
left: 14px;
text-size: 140%;
color: #fff;
}

.navbar-fixed-top-override {
width: 100% !important;
overflow: visible !important;
-moz-transition: width 0.2s ease;
-webkit-transition: width 0.2s ease;
-o-transition: width 0.2s ease;
transition: width 0.2s ease;
}

.navbar-fixed-top-override .navbar-inner {
-moz-border-radius: 0;
border-radius: 0;
}

.navbar-fixed-top .brand {
margin: 0 auto;
}

.navbar-fixed-zop .nav {
margin: 0 auto;
}

a.brand {
background: url(../images/admin/icons/aec_logo_small_header.png) no-repeat scroll 50% 30% transparent;
text-indent: 36px;
}

.tabs, .nav-pills {
font-size: 110%;
}

div.adminheading {
float: left;
padding: 18px;
}

div.adminheading h2 {
float: left;
padding-left: 18px;
line-height: 64px;
}

ul.nav-pills {
margin: 0 auto;
width: 600px;
padding-top: 40px;
text-align: center;
}

.pill-content {
float: left;
width: 100%;
}

.tabs > li, .nav-pills > li {
display: inline-block;
float: none;
}

.aec-buttons {
float: right;
margin-top: 6px;
margin-right: 1px;
padding: 23px;
background: #fff;
border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
border-bottom-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
}

.aec-buttons-fixed {
position: fixed;
top: 0px;
margin-top: 0px;
padding-top: 8px;
right: 10px;
z-index: 30;
-webkit-box-shadow: 0 1px 3px rgba(1, 1, 1, 0.35);
-moz-box-shadow: 0 1px 3px rgba(1, 1, 1, 0.35);
box-shadow: 0 1px 3px rgba(1, 1, 1, 0.35);
background: #f9f9f9;
}

.aec-buttons-fixed-extended {
padding-top: 48px;
}

.btn-hl {
border-left: 1px solid #999999;
}

.aec-filters {
margin: 0 auto 24px;
width: 540px;
padding: 6px 15px;
background: #eee;
-webkit-box-shadow: 0 1px 3px rgba(1, 1, 1, 0.35);
-moz-box-shadow: 0 1px 3px rgba(1, 1, 1, 0.35);
box-shadow: 0 1px 3px rgba(1, 1, 1, 0.35);
border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
border-bottom-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
}

.aec-filters-wide {
width: 580px;
height: 140px;
}

.aec-filters ul {
list-style: none;
}

ul.input-list li {
text-align: left;
text-indent: 14px;
margin-bottom: -2px;
}

ul.input-list li input {
margin-right: 6px;
}

a#filter-button {
display: block;
clear: both;
}

.aec-filters label {
text-align: left;
width: inherit;
margin-left: 10px;
}

.aec-filters-wide label {
width: 100%;
}

.aec-filters input.search {
width: 50%;
margin: 6px 25%;
}

.aec-filters .controls-list {
padding-left: 4px;
}

.aec-filters .btn {
margin: 4px 48%;
}

.aec-filters .filter-sub .btn {
margin: 18px 30%;
}

.aec-filters .filter-sub .search {
margin: -2px 0 0;
width: 130px;
}

.aec-filters p .btn {
margin: 0px 90%;
}

.aec-filters input,
.aec-filters textarea,
.aec-filters select,
.aec-filters .uneditable-input {
margin-bottom: 0;
}

.filter-sub {
float: left;
padding: 2px 2%;
}

.filter-sub .control {
margin-bottom: 12px;
}

.aec-buttons .btn {
margin: 0 3px;
padding: 8px 14px;
}

.aec-buttons .btn-group {
margin: 12px 3px -11px 3px;
display: inline-block;
font-size: inherit;
}

.btn-group .btn {
margin: 0;
}

.btn-group-pagination {
width: 66px;
margin-top: 3px;
}

.btn-group-pagination .btn {
padding: 0 8px;
}

.tooltip-inner {
font-size: 14px;
padding: 6px 10px;
text-align: left;
}

a.btn,
a.btn:link {
color: #333;
text-decoration: none;
}

a.btn-primary,
a.btn-primary:link,
a.btn-info,
a.btn-info:link,
a.btn-success,
a.btn-success:link,
a.btn-warning,
a.btn-warning:link,
a.btn-danger,
a.btn-danger:link {
color: #fff;
}

.btn.disabled, .btn[disabled] {
    opacity: 0.35;
}

a.btn span {
display: none;
}

a#drilldown {
line-height: 160%;
}

a.btn span.label {
display: inline-block;
padding-bottom: 0;
text-transform: none;
position: relative;
font-size: 105%;
line-height: 150%;
}

.controls span.label {
padding: 1px 8px 6px;
text-transform: none;
}

a.btn span.btnhover {
margin-left: 8px;
display: inline;
}

.btn-toggle-warning,
.btn-toggle-warning:hover,
.btn-toggle-danger,
.btn-toggle-danger:hover,
.btn-toggle-success,
.btn-toggle-success:hover  {
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
color: #ffffff;
padding: 2px 10px;
margin-top: 1px;
}
.btn-toggle-warning {
background-color: #faa732;
background-image: -moz-linear-gradient(top, #fbb450, #f89406);
background-image: -ms-linear-gradient(top, #fbb450, #f89406);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
background-image: -o-linear-gradient(top, #fbb450, #f89406);
background-image: linear-gradient(top, #fbb450, #f89406);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
border-color: #f89406 #f89406 #ad6704;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-toggle-warning:hover,
.btn-toggle-warning:active,
.btn-toggle-warning.active,
.btn-toggle-warning.disabled,
.btn-toggle-warning[disabled] {
background-color: #f89406;
}
.btn-toggle-warning:active, .btn-toggle-warning.active {
background-color: #c67605 \9;
}
.btn-toggle-danger {
background-color: #da4f49;
background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
background-image: linear-gradient(top, #ee5f5b, #bd362f);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
border-color: #bd362f #bd362f #802420;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-toggle-danger:hover,
.btn-toggle-danger:active,
.btn-toggle-danger.active,
.btn-toggle-danger.disabled,
.btn-toggle-danger[disabled] {
background-color: #bd362f;
}
.btn-toggle-danger:active, .btn-toggle-danger.active {
background-color: #942a25 \9;
}
.btn-toggle-success {
background-color: #5bb75b;
background-image: -moz-linear-gradient(top, #62c462, #51a351);
background-image: -ms-linear-gradient(top, #62c462, #51a351);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
background-image: -webkit-linear-gradient(top, #62c462, #51a351);
background-image: -o-linear-gradient(top, #62c462, #51a351);
background-image: linear-gradient(top, #62c462, #51a351);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
border-color: #51a351 #51a351 #387038;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-toggle-success:hover,
.btn-toggle-success:active,
.btn-toggle-success.active,
.btn-toggle-success.disabled,
.btn-toggle-success[disabled] {
background-color: #51a351;
}
.btn-toggle-success:active, .btn-toggle-success.active {
background-color: #408140 \9;
}
.bsicon-rotate {
-moz-transition: all 1s linear;
-webkit-transition: all 1s linear;
-o-transition: all 1s linear;
transition: all 1s linear;
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}

.btn-after {
margin-left: 8% !important;
padding: 3px 8px;
}

#aec-center {
padding: 12px;
text-align: center;
}

#aec-center .aec-center-block {
display: inline-block;
text-align: left;
width: 800px;
margin: 0 20px;
vertical-align: top;
}

#aec-center .aec-center-block hr.topslim {
padding: 2px 0 0;
margin-top: -6px;
}

#aec-center .aec-center-block br {
display: block;
margin: 10px 0;
content: " ";
line-height: 22px;;
}

#aec-center .aec-center-block-half {
max-width: 380px;
margin: 0 20px 0 0;
}

#aec-center .aec-center-block-half>div {
float: left;
vertical-align: bottom;
margin: 6px 0;
}

#aec-center .aec-center-block-half div.btn {
float: left;
}

#aec-center .aec-center-block-half>div>p {
float: left;
display: block;
margin: 0 6px;
padding: 40px 0;
}

#aec-center .aec-center-footer {
width: 100%;
max-width: 100%;
text-align: center;
}

#aec-center .aec-center-footer>div {
width: 20%;
padding: 1% 4%;
display: inline-block;
vertical-align: top;
}

#aec-center .aec_userinfobox_sub {
padding-bottom: 18px;
}

.userinfobox label {
width: 48%;
padding-right: 12px;
line-height: 16px;
}

.userinfobox .form-horizontal .control-group > label {
width: 48%;
}

.userinfobox .form-horizontal .accordion-inner .control-group > label {
width: 18%;
}

.userinfobox .form-horizontal .accordion-inner .controls {
margin-left: 22%;
width: 78%;
}

.userinfobox .form-stacked .control-group div.controls .span6 {
width: inherit;
}

.userinfobox div.control-group form .controls {
float: left;
text-align: center;
}

.userinfobox .form-horizontal .controls {
margin-left: 54%;
width: 48%;
}

.userinfobox div.control-group .controls>* {
margin: 0 auto;
vertical-align: middle;
}

.userinfobox form .control-group {
width: 100%;
margin-bottom: 16px;
}

.userinfobox .form-noindent .controls {
margin-left: 18%;
width: 80%;
}

.userinfobox .form-noindent  .control-group > label {
width: 15%;
}

.userinfobox .control-group>div.controls>span {
display: inline-block;
font-size: 120%;
font-weight: bold;
padding-top: 6.5px;
}

.userinfobox div.controls ul {
margin: 0;
padding-left: 14px;
list-style: circle;
}

.userinfobox div.controls select {
width: 70%;
}

.well {
padding-top: 19px;
margin-top: 10px;
}

.progress {
margin-top: 1px;
margin-bottom: 0;
}

.progress,
.progress .bar {
height: 20px;
}

.progress-group {
width: 100%;
}

.progress-group .progress {
width: 50%;
display: inline-block;
float: left;
}

.progress-group .progress:first-child {
-webkit-border-radius: 4px 0 0 4px;
-moz-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
}

.progress-group .progress:last-child {
-webkit-border-radius: 0 4px 4px 0;
-moz-border-radius: 0 4px 4px 0;
border-radius: 0 4px 4px 0;
}

.progress-group .progress:first-child .bar {
float: right;
}

.progress .bar {
float: left;
}

.progress .bar a,
.progress .bar a:hover {
color: #fff;
}

.progress-content {
float: left;
padding: 4px;
font-weight: bold;
line-height: 120%;
}

.bar .progress-content {
width: 90%;
padding: 4px;
line-height: 100%;
}

.progress-short .bar .progress-content {
width: 80%;
}

.progress-group .progress:first-child .progress-content {
float: right;
}

.form-stacked {
padding-left: 20px;
vertical-align: top;
}

.form-stacked fieldset {
padding-top: 9px;
}

.form-stacked legend {
padding-left: 0;
}

.form-stacked label {
display: block;
float: none;
width: auto;
font-weight: bold;
text-align: left !important;
line-height: 20px;
padding-top: 0;
}

.form-stacked .control-group {
margin-bottom: 9px;
}

td>.control-group {
margin: 4px -14px !important;
text-align: right !important;
}

.form-stacked .control-group div.controls {
margin-left: 0;
}

.form-stacked div.control-group.error {
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
margin-top: 0;
margin-left: -10px;
}

.form-stacked .actions {
margin-left: -20px;
padding-left: 20px;
}

.form-stacked .controls select {
width: 220px;
}

.form-stacked .control-group > label {
width: 100%;
}

.form-wide .control-group > label {
width: 30%;
}

.form-wide .controls {
width: 66%;
margin-left: 34%;
}

.form-wide .controls select {
width: 100%;
}

.right-btns {
text-align: right;
padding-bottom: 12px;
}

.right-btns a {
margin-left: 8px;
}

.right-btns .btn-group {
display: inline-block;
}

div.liner {
border-bottom: 1px dashed #999999;
height: 16px;
margin: 0 33%;
position: absolute;
width: 22%;
}

h5 {
line-height: 14px;
margin: 12px 2px 2px;
}

.popover .inner {
width: 320px;
background: #850d0d;
}

.popover .title {
margin: 0;
}

.popover .arrow {
border-bottom: 5px solid #850d0d;
}

.popover .content {
padding: 2px 14px 14px;
line-height: 120%;
}

.lookupresult {
width: 43%;
padding: 0 1%;
margin: 1%;
display: inline-block;
text-align: center;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background: #eee;
vertical-align: top;
}

.lookupresult span.search-match {
background: #fda;
padding: 0 1px;
}

div.controls>div>div {
margin: 0 auto;
width: 550px;
}

.accordion-heading .accordion-toggle {
background: #e5e5e5;
outline: none;
font-size: 120%;
font-weight: bold;
}

.plogo {
display: inline-block;
vertical-align: middle;
margin-top: -4px;
}

.accordion-inner {
padding: 14px 15px 2px;
background: #f5f5f5;
}

.ui-multiselect-header {
background: #aaa;
border: none !important;
border-bottom-left-radius: 0 !important;
border-bottom-right-radius: 0 !important;
margin: -4px -4px 0 !important;
padding: 5px !important;
}

.ui-multiselect {
margin: 1px 0;
max-width: 95%;
}

.ui-multiselect-checkboxes {
overflow-y: auto !important;
height: auto !important;
max-height: 215px;
}

.ui-multiselect-checkboxes label {
width: 99%;
padding: 2px 1px !important;
margin-bottom: 0px;
border-radius: 2px;
background: #fff;
-webkit-transition: background 0.5s ease-out;
-moz-transition: background 0.5s ease-out;
-ms-transition: background 0.5s ease-out;
-o-transition: background 0.5s ease-out;
}

.ui-multiselect-menu label:hover {
background: #eee;
}

.ui-multiselect-menu input {
display: inline-block;
}

.ui-multiselect-menu label span {
display: inline-block;
margin-left: 6px;
margin-top: 3px;
width: 80%;
vertical-align: top;
}

.ui-datepicker-title select {
height: 24px;
padding: 1px;
}

.ui-datepicker-header span.ui-icon {
margin-top: -4px !important;
}

.ui-datepicker td .ui-state-default {
color: #555;
}

.ui-widget {
margin-top: 2px;
-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35), 0 4px 1px rgba(255, 255, 255, 0.25);
-moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35), 0 4px 1px rgba(255, 255, 255, 0.25);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35), 0 4px 1px rgba(255, 255, 255, 0.25);
}

.ui-widget .ui-widget {
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

.mi-menu-mi-name {
font-weight: bold;
}

.mi-menu-mi-desc {
font-size: 80%;
}

.mi-menu-mi {
display: block;
-webkit-transition: background linear 0.1s, box-shadow linear 0.1s;
-moz-transition: background linear 0.1s, box-shadow linear 0.1s;
-ms-transition: background linear 0.1s, box-shadow linear 0.1s;
-o-transition: background linear 0.1s, box-shadow linear 0.1s;
transition: background linear 0.1s, box-shadow linear 0.1s;
}

.mi-menu-mi span {
color: #bd362f;
}

.mi-menu-mi:hover span {
color: #555;
}

.mi-menu-mi:hover {
background: #f9f9f9;
box-shadow: 0 1px 1px #d9d9d9;
}

.tooltip-inner {
-webkit-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.15);
box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.15);
}

.ui-datepicker {
margin-left: -4px;
}

span.jqui-daterangepicker-text {
line-height: 280%;
}

.ui-widget-header i {
vertical-align: middle;
}

.ui-widget-header a {
text-decoration: none;
}

.ui-widget-header a:hover,
.ui-multiselect-header a:hover {
text-decoration: none !important;
}

.ui-widget-header em {
margin-left: 4px;
margin-right: 4px;
}

.ui-widget-header .btn {
height: 12px;
line-height: 12px;
padding: 3px 4px 5px;
}

.jqui-loading {
margin: 12px 60%;
font-weight: bold;
color: #555;
display: block;
float: left;
width: 100%;
text-shadow: 1px 1px 1px #fff;
}

div.ranges {
border: none !important;
}

#status-group-select,
#plan-filter-select,
#group-filter-select {
opacity: 0;
height: 1px;
}

#aec-center h3 {
clear: both;
display: block;
font-size: 24px;
margin: 12px 0 16px;
text-shadow: 0 1px 2px #bbb;
}

a.btn-primary,
a.btn-primary:link,
a.btn-info,
a.btn-info:link,
a.btn-success,
a.btn-success:link,
a.btn-warning,
a.btn-warning:link,
a.btn-danger,
a.btn-danger:link {
color: #fff !important;
}

#aec-center div.btn {
padding: 0 4px;
}

#aec-center div.btn a {
display: block;
float: left;
height: 100px;
width: 90px;
vertical-align: middle;
text-decoration : none;
}

#aec-center div.btn a:link {
font-size: 0.85em;
color : #808080;
}

#aec-center div.btn:hover {
color : #333;
}

#aec-center div.btn a:active {
color : #808080;
}

#aec-center div.btn a:visited {
color : #808080;
}

#aec-center div.btn img {
margin-top: 11px;
}

#aec-center div.btn span {
display: block;
padding-top: 3px;
}

div.central_group {
clear: both;
}

div#aec-center a {
outline: 0 none !important;
}

div#aec-center .aec-symbol {
margin: 12% 15% 2%;
}

div.central_notices {
margin: 12px auto;
max-width: 840px;
}

div.central_notices .alert {
text-align: left;
}

div.central_notices .warning {
text-align: left;
background-image: -khtml-gradient(linear, center top, center bottom, from(#d6aa1a), to(#b59512));
background-image: -moz-linear-gradient(center top , #d6aa1a 0pt, #b59512 100%);
background-image: -ms-linear-gradient(center top , #d6aa1a 0pt, #b59512 100%);
background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #d6aa1a), color-stop(100%, #b59512));
background-image: -webkit-linear-gradient(center top , #d6aa1a 0pt, #b59512 100%);
background-image: -o-linear-gradient(center top , #d6aa1a 0pt, #b59512 100%);
background-image: linear-gradient(center top , #d6aa1a 0pt, #b59512 100%);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
color: #fff;
}

.alert .help-block {
color: #999;
float: right;
margin-top: -16px;
max-width: 600px;
}

#aec-alertlist .alert p {
margin: 0;
}

.centerlogo {
background-color:#fff;
background-position: top center;
background-repeat: repeat-y;
padding: 60px 30px;
text-shadow: 0 1px 4px #999;
}

table.diorama {
max-width: 840px;
}

table.diorama td {
padding: 0;
}

.cell-wrapper {
position: relative;
width: 100px;
height: 100px;
}

.cell-wrapper-slim {
position: relative;
width: 20px;
height: 100px;
}

.cell-wrapper-slim-bar {
position: relative;
width: 100px;
height: 20px;
}

table.diorama td.important div.cell-wrapper {
border: 1px dashed #ff0;
}

.aec-center-block td p,
.aec-center-block td h6 {
max-width: 220px;
color: #888;
-webkit-transition: color 0.2s ease-out;
-moz-transition: color 0.2s ease-out;
-ms-transition: color 0.2s ease-out;
-o-transition: color 0.2s ease-out;
transition: color 0.2s ease-out;
}

.aec-center-block td:hover p,
.aec-center-block td:hover h6 {
color: #111;
}

.aec-center-block p,
.aec-center-block h6 {
color: #888;
-webkit-transition: color 0.2s ease-out;
-moz-transition: color 0.2s ease-out;
-ms-transition: color 0.2s ease-out;
-o-transition: color 0.2s ease-out;
transition: color 0.2s ease-out;
}

.aec-center-block p:hover,
.aec-center-block h6:hover {
color: #111;
}

.aec-center-block div p,
.aec-center-block div h6 {
color: #888;
-webkit-transition: color 0.2s ease-out;
-moz-transition: color 0.2s ease-out;
-ms-transition: color 0.2s ease-out;
-o-transition: color 0.2s ease-out;
transition: color 0.2s ease-out;
}

.aec-center-block div:hover p,
.aec-center-block div:hover h6 {
color: #111;
}

div.dioarama-corner-w-s {
position: relative;
border-right: 1px solid #999;
border-top: 1px solid #999;
width: 50px;
height: 50px;
top: 50px;
}

div.dioarama-corner-w-e {
border-bottom: 1px solid #999;
width: 100%;
min-width: 20px;
height: 50%;
}

div.dioarama-corner-n-s {
border-right: 1px solid #999;
width: 50%;
height: 50%;
margin-bottom: 9px;
}

div.dioarama-corner-n-s-f {
border-right: 1px solid #999;
width: 50%;
height: 101%;
}

div.dioarama-corner-e-n {
position: relative;
border-right: 1px solid #999;
border-bottom: 1px solid #999;
width: 50%;
height: 50%;
margin-bottom: 42%;
}

i.diorama-icon-e {
float: right;
margin-right: -3px;
margin-top: -8px;
opacity: 0.6;
}

i.diorama-icon-w {
display: block;
position: relative;
margin-top: -8px;
margin-bottom: -10px;
opacity: 0.6;
margin-left: -5px;
}

i.diorama-icon-s {
display: block;
left: 44%;
position: relative;
margin-top: -11px;
opacity: 0.6;
}

i.diorama-icon-n {
display: block;
left: 44%;
position: relative;
margin-top: -2px;
opacity: 0.6;
}

img.dist-title {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
box-shadow: 0 1px 4px #999;
}

h1.importance_1 {
color: #4C0;
}

strong.importance_1 {
color: #4C0;
}

h1.importance_2 {
color: #DD0;
}

strong.importance_2 {
color: #DD0;
}

h1.importance_3 {
color: #C30;
}

strong.importance_3 {
color: #C30;
}

.diagnose {
background-color: #EED;
margin: 5px;
padding: 3px 3px 12px 3px;
}

.diagnose p {
margin-left: 92px;
}

.diagnose p.notice_0 {
margin-left: 92px;
background-color: #eee0dd;
}

.diagnose p.notice_1 {
margin-left: 92px;
}

.diagnose h1 {
margin-left: 80px;
}

.diagnose img {
position: relative;
float: left;
padding: 2px;
}

table.adminform th {
color: #586c79;
}

img.aec_icon {
vertical-align: bottom;
padding-right: 4px;
}

.aecadminform {
background-color: #ddd;
border-collapse: collapse;
width: 100%;
box-shadow: 0 1px 7px #000 inset, 0 1px 4px #ccc;
float: left;
}

.aeclegend {
float: left;
width: 100%;
}

.aecadminform_seamless {
border-collapse: collapse;
margin: -14px 0 15px -1px;
width: 100%;
box-shadow: 0 4px 7px #aaa inset;
float: left;
}

.aecadminform td,
.aecadminform_seamless td {
vertical-align: top;
}

.userinfobox {
position: relative;
float: left;
margin: 0.4%;
width: 100%;
}

div.aec-invoices-pagination {
margin-top: 12px;
text-align: center;
}

.aec_userinfobox_sub {
background-color: #f9f9e9;
margin: 1%;
padding: 4px 16px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(255, 255, 255, 0.25);
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(255, 255, 255, 0.25);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(255, 255, 255, 0.25);
overflow: hidden;
}

.aec_userinfobox_sub_inline {
display: inline-block;
vertical-align: top;
}

.aec_userinfobox_sub h4 {
border-bottom: 1px solid #999;
color: #555;
margin: 0px 12px 24px;
text-align: center;
font-size: 20px;
text-shadow: 0 1px 2px #bbb;
line-height: 36px;
}

table .span6 {
width: 90%;
}

.infobox_table {
margin-bottom: 24px;
width: 100%;
}

.infobox_table th {
border-bottom: 1px dashed #999;
text-align: left;
padding: 6px;
background: #ffffef !important;
}

.infobox_table td {
padding: 6px;
background: #ffffef;
}

.infobox_table tr.current-focus td {
background: #eff;
}

.aecadminform h2 {
margin-left: 12px;
text-shadow: 0 1px 2px #bbb;
}

#accordion .userinfobox {
width : 100%;
}

.userinfobox div.action {
position: relative;
float: right;
padding-right: 10px;
color: #555;
border-bottom: solid 3px #998;
margin-top: -8px;
margin-right: 50px;
clear: right;
}

.userinfobox div.action:hover {
position: relative;
float: right;
padding-right: 10px;
color: #555;
background-color: #fafaf4;
border-bottom: solid 3px #998;
margin-top: -8px;
margin-right: 50px;
clear: right;
}

.userinfobox h3 {
position: relative;
float: right;
padding-right: 10px;
color: #555;
font-size: 20px;
margin-top: 4px;
}

.userinfobox pre {
display: block;
width: 800px;
color: #000;
background-color: #e5f4ff;
border-left: 2px solid #998;
border-top: 2px solid #998;
border-right: 2px solid #fff;
border-bottom: 2px solid #fff;
padding: 10px;
}

.userinfobox div.important {
position: relative;
float: right;
clear: right;
margin-right: 18px;
width: 100px;
height: 110px;
background-image: url(../images/admin/gfx/important_sign.png);
}

.userinfobox div.explainblock {
position: relative;
float: left;
margin-left: 5%;
padding-left: 10px;
border-left: 3px solid #998;
}

div.rewriteinfoblock {
display: block;
color: #000;
padding: 4px;
margin-bottom: 4px;
}

div.setting_desc {
position: relative;
float: left;
padding: 11px;
clear: left;
width: 210px;
}

div.setting_form {
padding: 5px;
}

div.clear div.setting_desc {
clear: both;
}

fieldset {
clear: both;
}

div#aec-footer {
clear: both;
padding: 0;
text-align: center;
font-size: 85%;
}

#aec-footer>div {
width: 10%;
min-width: 180px;
padding: 1px;
display: inline-block;
vertical-align: middle;
}

#aec-footer>div.aec-footer-half {
width: 5%;
min-width: 120px;
}

div#aec-footer img {
float: right;
margin-top: -12px;
}

.aec_toggler {
color: #222;
margin: 0;
margin-top: 3px;
padding: 2px 5px;
background: #eee;
border-bottom: 1px solid #ddd;
border-right: 1px solid #ddd;
border-top: 1px solid #f5f5f5;
border-left: 1px solid #f5f5f5;
font-size: 11px;
font-weight: normal;
font-family: 'Andale Mono', sans-serif;
clear: left;
float: none !important;
font-size: 11px !important;
line-height: 20px;
}

.small_accordion {
margin: 4px;
width: 340px;
}

.accordion {
margin: 4px;
}

.element {

}

.element p {
margin: 0;
padding: 4px;
}

.float-right {
padding:10px 20px;
float:right;
}

blockquote {
text-style:italic;
padding:5px 0 5px 30px;
}

.aec_readout {
margin: 0 auto;
border-bottom: solid 3px #998;
width: 50%;
}

.aec_readout_bit {
padding: 12px 3px 12px 6px;
border-bottom: solid 3px #998;
margin-bottom: 16px;
}

.aec_readout_bit td {
padding: 4px;
}

.aec_readout_bit th {
border-bottom: 1px dashed #999;
}

.aec_import {
font-align: right;
margin: 0 auto;
padding: 12px 3px 12px 6px;
border-bottom: solid 3px #998;
width: 680px;
}

.aec_import_large {
font-align: right;
margin: 0 auto;
padding: 12px 3px 12px 6px;
border-bottom: solid 3px #998;
width: 98%;
}

table#aec_import_table {
width: 100%;
margin-bottom: 12px;
}

table#aec_import_table th {
text-align: left;
background-color: #ddd;
}

table#aec_import_table td {
background: #fff;
padding: 3px;
}

div.aec_processor_experimentalnote {
margin: 12px;
border: 1px solid #c16161;
background-color: #eaa;
padding: 12px;
}

.aec_backend_page_heading {
color: #586c79;
height: 70px;
padding-left: 70px;
font-size: 24px;
}

div.aec_processor_experimentalnote h1 {
color: #000;
}

div.aec_processor_experimentalnote p {
font-size: 130%;
}

div#aec-toolbox-list {
width: 50%;
padding: 20px;
min-width: 400px;
margin: 0 25%;
}

div#aec-toolbox-result {
margin: 0px auto;
width: 93%;
background: #fff;
border: 2px solid #eee;
font-size: 120%;
padding: 2%;
max-width: 1024px;
overflow-x: scroll;
}

div#aec-toolbox-form .controls {
margin-left: 25%;
}

div#aec-toolbox-form submit {
margin: 40px 10px 10px;
position: relative;
right: -50%;
}

td.aec_bigcell {
overflow-x: auto;
max-width: 1000px;
}

.bsicon-32-extensions {
background-image:url(../images/admin/icons/aec_central_icon.png);
}

div.current input, div.current textarea, div.current select {
float: inherit !important;
}

.aec-symbol {
width: 64px;
height: 64px;
float: left;
background-image: url(../images/admin/icons/aec_symbols_sprite.png);
background-position: 0 0;
background-repeat: no-repeat;
*margin-right: .3em;
}

.aec-symbol-active {
background-position: 0 0;
}

.aec-symbol-expired {
background-position: -64px 0;
}

.aec-symbol-closed {
background-position: -128px 0;
}

.aec-symbol-cancelled {
background-position: -192px 0;
}

.aec-symbol-hold {
background-position: -256px 0;
}

.aec-symbol-edit {
background-position: -320px 0;
}

.aec-symbol-pending {
background-position: -384px 0;
}

.aec-symbol-excluded {
background-position: -448px 0;
}

.aec-symbol-manual {
background-position: 0 -64px;
}

.aec-symbol-plans {
background-position: -64px -64px;
}

.aec-symbol-itemgroups {
background-position: -128px -64px;
}

.aec-symbol-export {
background-position: -192px -64px;
}

.aec-symbol-import {
background-position: -256px -64px;
}

.aec-symbol-history {
background-position: -320px -64px;
}

.aec-symbol-microintegrations {
background-position: -384px -64px;
}

.aec-symbol-invoices {
background-position: -448px -64px;
}

.aec-symbol-eventlog {
background-position: 0 -128px;
}

.aec-symbol-settings {
background-position: -64px -128px;
}

.aec-symbol-stats {
background-position: -128px -128px;
}

.aec-symbol-toolbox {
background-position: -192px -128px;
}

.aec-symbol-coupons {
background-position: -256px -128px;
}

.aec-symbol-coupons-static {
background-position: -320px -128px;
}

.aec-symbol-css {
background-position: -384px -128px;
}

.aec-symbol-templates {
background-position: -448px -128px;
}

.aec-symbol-processors {
background-position: 0 -192px;
}

/* Overrides */

#system-message {
display: none;
}

.nav-msg {
float: left;
position: absolute;
margin-top: 8px;
margin-left: 0;
padding: 6px;
border-radius: 4px;
opacity: 0;
-webkit-transition: opacity 0.5s ease-out, margin-left 0.5s ease-out;
-moz-transition: opacity 0.5s ease-out, margin-left 0.5s ease-out;
-ms-transition: opacity 0.5s ease-out, margin-left 0.5s ease-out;
-o-transition: opacity 0.5s ease-out, margin-left 0.5s ease-out;
transition:opacity 0.5s ease-out, margin-left 0.5s ease-out;
}

.nav-msg-transition {
opacity: 1;
margin-left: 1%;
}

table.adminlist .pagination {
margin: 3px auto -10px !important;
}

table.adminlist .pagination a {
line-height: 24px;
}

table.adminlist .pagination i {
margin-top: 4px;
opacity: 0.8;
filter: alpha(opacity=80);
}

table.adminlist .pagination .off i {
opacity: 0.5;
filter: alpha(opacity=50);
}

.pagination div.limit {
height: inherit !important;
line-height: 28px !important;
margin: -2px 10px 0 !important;
}

div.limit select {
width: 48px;
padding: 1px;
margin-left: 8px;
background: #eee;
margin-top: 5px;
}

#submenu-box {
display: none !important;
}

.submenu-box, div.m {
background: #fff;
}

#toolbar-box {
display: none !important;
}

#element-box div.t, #element-box div.t div.t, #element-box div.t div.t div.t,
#element-box div.b, #element-box div.b div.b, #element-box div.b div.b div.b {
height: 0;
background: none;
padding: 0;
}

#element-box, #toolbar-box, #submenu-box {
padding: 0;
font-size: 11px;
}

#element-box div.m {
border: none;
padding: 0 !important;
}

#content-box {
float: none;
width: inherit;
}

#content-box div.m {
padding: 0;
}

#content-box .padding {
padding: 0 !important;
}

#system-message {
margin: 0 0 -10px -25px;
}

.prettyprint {
background-color: #fefbf3;
border: 1px solid rgba(0, 0, 0, 0.2);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
padding: 9px;
line-height: 120%;
font-size: 100%;
}

table.adminlist thead th {
border-bottom: none;
padding: 4px 10px;
text-align: center;
}

table.adminlist td {
text-align: center;
line-height: 200%;
}

table.adminlist .leftalign {
text-align: left;
}

table.table-striped tr:hover td {
background: #ffd;
}

table.adminlist thead th:nth-child(1) {
border-left: none;
}

.notice_level_2 {
background: #ddd !important;
}

.notice_level_8 {
background-color: #5bb75b !important;
background-image: -moz-linear-gradient(top, #62c462, #51a351) !important;
background-image: -ms-linear-gradient(top, #62c462, #51a351) !important;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351)) !important;
background-image: -webkit-linear-gradient(top, #62c462, #51a351) !important;
background-image: -o-linear-gradient(top, #62c462, #51a351) !important;
background-image: linear-gradient(top, #62c462, #51a351) !important;
background-repeat: repeat-x !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0) !important;
color: #fff;
}

.notice_level_32 {
background-color: #faa732 !important;
background-image: -moz-linear-gradient(top, #fbb450, #f89406) !important;
background-image: -ms-linear-gradient(top, #fbb450, #f89406) !important;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406)) !important;
background-image: -webkit-linear-gradient(top, #fbb450, #f89406) !important;
background-image: -o-linear-gradient(top, #fbb450, #f89406) !important;
background-image: linear-gradient(top, #fbb450, #f89406) !important;
background-repeat: repeat-x !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0) !important;
color: #fff;
}

.notice_level_128 {
background-color: #da4f49 !important;
background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f) !important;
background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f) !important;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f)) !important;
background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f) !important;
background-image: -o-linear-gradient(top, #ee5f5b, #bd362f) !important;
background-image: linear-gradient(top, #ee5f5b, #bd362f) !important;
background-repeat: repeat-x !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0) !important;
color: #fff;
}

.button2-left .page a,
.button2-right .page a,
.button2-left .page span,
.button2-right .page span,
.button2-left .blank a,
.button2-right .blank a,
.button2-left .blank span,
.button2-right .blank span {
line-height: 25px;
}

.button2-left, .button2-right, .button2-left div, .button2-right div {
background: none !important;
}

.button2-right .start,
.button2-right.off .start,
.button2-right .prev,
.button2-right.off .prev {
background: none !important;
}

.button2-left.off .end,
.button2-left .end,
.button2-left.off .next,
.button2-left .next,
.button2-left .page,
.button2-left .blank {
background: none !important;
}

.button2-right a, .button2-right span,
.button2-left a, .button2-left span {
padding: 0;
}

div.button2-right span,
div.button2-left span,
div.button2-right a,
div.button2-left a {
padding: 0 12px;
}

div.page span,
div.page a,
div.button2-right a,
div.button2-left a {
border-width: 1px;
color: #555;
margin: 0 2px;
border-radius: 3px;
text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
border-color: #bbb #ccc #ccc;
}

div.page span,
div.button2-right span,
div.button2-left span {
background-image: -khtml-gradient(linear, center top, center bottom, from(#e6e6e6), to(#dcdcdc));
background-image: -moz-linear-gradient(center top , #e6e6e6 0pt, #dcdcdc 100%);
background-image: -ms-linear-gradient(center top , #e6e6e6 0pt, #dcdcdc 100%);
background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #e6e6e6), color-stop(100%, #dcdcdc));
background-image: -webkit-linear-gradient(center top , #e6e6e6 0pt, #dcdcdc 100%);
background-image: -o-linear-gradient(center top , #e6e6e6 0pt, #dcdcdc 100%);
background-image: linear-gradient(center top , #e6e6e6 0pt, #dcdcdc 100%);
border-left: 1px solid #aaa;
border-right: 1px solid #aaa;
border-style: solid;
border-width: 1px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 2px #aaa inset;
-moz-box-shadow: 0 1px 2px #aaa inset;
box-shadow: 0 1px 2px #aaa inset;
}

div.page a,
div.button2-right a,
div.button2-left a {
background-image: -khtml-gradient(linear, center top, center bottom, from(#fff), to(#e0e0e0));
background-image: -moz-linear-gradient(center top , #fff 0pt, #e0e0e0 100%);
background-image: -ms-linear-gradient(center top , #fff 0pt, #e0e0e0 100%);
background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #fff), color-stop(100%, #e0e0e0));
background-image: -webkit-linear-gradient(center top , #fff 0pt, #e0e0e0 100%);
background-image: -o-linear-gradient(center top , #fff 0pt, #e0e0e0 100%);
background-image: linear-gradient(center top , #fff 0pt, #e0e0e0 100%);
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-style: solid;
border-width: 1px;
border-radius: 3px;
-webkit-box-shadow: 0 0 1px #fff inset;
-moz-box-shadow: 0 0 1px #fff inset;
box-shadow: 0 0 1px #fff inset;
}

div.page a:hover,
div.button2-right a:hover,
div.button2-left a:hover {
border: 1px solid #777;
border-radius: 3px;
-webkit-box-shadow: 0 0 2px #999999;
-moz-box-shadow: 0 0 2px #999999;
box-shadow: 0 0 2px #999999;
}

div.button2-right div.start span,
div.button2-right div.prev span,
div.button2-left div.end span,
div.button2-left div.next span {
background: #eee;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border: none;
margin: 1px;
}

/* Install */

div.doesnotexist {
font-size: 18px;
}

div.packages-installed p,
div.packages-none p {
font-size: 18px;
margin: 0;
}

div.packages-installed br,
div.packages-none br {
margin-bottom: 20px;
}

div.packages-none {
border: 3px solid #706100;
background: #aa9900;
padding: 24px;
color: #fff;
margin: 16px 16px 24px;
-webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.45);
-moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.45);
box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.45);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

div.packages-installed {
border: 3px solid #4c7000;
background: #7caa00;
padding: 24px;
color: #fff;
margin: 16px 16px 24px;
-webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.45);
-moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.45);
box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.45);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

div.installmain {
float: left;
width: 600px;
-webkit-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.45);
-moz-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.45);
box-shadow: 0 6px 14px rgba(0, 0, 0, 0.45);
background: #000 url(../images/admin/gfx/aec_dist_gfx_1_0.jpg) no-repeat top right;
margin: 0 6px 24px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

div.install-golink {
padding: 12px;
text-align: center;
font-size: 24px;
font-weight: bold;
margin-bottom: 12px;
}

div.install-golink a,
div.install-golink a:link {
padding: 12px;
color: #333;
text-align: center;
text-shadow: 0 2px 1px rgba(255, 255, 255, 0.75);
background-color: #fafafa;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
background-repeat: no-repeat;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
border: 1px solid #ccc;
border-bottom-color: #bbb;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7), 0 0 15px rgba(255, 255, 255, 0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7), 0 0 15px rgba(255, 255, 255, 0.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7), 0 0 15px rgba(255, 255, 255, 0.5);
cursor: pointer;
}

div.install-golink a:hover {
color: #333333;
background-color: #e6e6e6;
background-position: 0 -15px;
-webkit-transition: background-position 0.1s linear;
-moz-transition: background-position 0.1s linear;
-ms-transition: background-position 0.1s linear;
-o-transition: background-position 0.1s linear;
transition: background-position 0.1s linear;
}

.installnote {
width: 92%;
margin: 6px 24px;
color: #ddd;
}
.installnote h1 {
color: #ddd;
padding: 0;
font-size: 16px;
}
.installnote p {
color: #ddd;
padding: 0 12px;
}

.modal {
max-height: inherit;
margin: -300px 0 0 -280px;
overflow: hidden;
}

.modal-header {
padding: 11px 15px 8px;
}

.modal-body h4 {
background: #c8e6f2;
margin: 0 0 10px -15px;
padding: 4px 4px 4px 18px;
width: 102%;
text-shadow: 0 1px #fff;
-webkit-box-shadow: 0 2px 2px #bbb;
-moz-box-shadow: 0 2px 2px #bbb;
box-shadow: 0 2px 2px #bbb;
}

.modal h3 {
font-size: 180%;
font-weight: normal;
line-height: 100%;
}

.modal-body p {
margin: 0 10px 8px 10px;
color: #333;
}

.modal-overlay {
-webkit-box-shadow: 0 2px 4px #ccc inset;
-moz-box-shadow: 0 2px 4px #ccc inset;
box-shadow: 0 2px 4px #ccc inset;
margin: 12px 10px 14px -16px;
padding: 12px 0 4px 64px;
width: 106%;
}

.modal-overlay .btn {
-webkit-box-shadow: 0 2px 4px #aaa;
-moz-box-shadow: 0 2px 4px #aaa;
box-shadow: 0 2px 4px #aaa;
font-weight: bold;
}

.modal-overlay p {
color: #555;
}

/* To be converted to LESS */

.container {
text-align: left;
}

div.dataTables-wrapper {
	float: left;
	margin: 12px;
}

div.dataTables_length label {
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: right;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
div.dataTables-wrapper table {
    margin-bottom: 6px !important;
    clear: both;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}
 
table.table thead .sorting { background: url('images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('images/sort_desc.png') no-repeat center right; }
 
table.table thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right; }

.placeholder {
  opacity: 0.4;
  background-color: #0e90d2 !important;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be)) !important;
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be) !important;
  background-image: -o-linear-gradient(top, #149bdf, #0480be) !important;
  background-image: linear-gradient(to bottom, #149bdf, #0480be) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
  background-color: #149bdf !important;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent)) !important;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

.placeholder td {
  padding: 2px;
  margin: 2px;
  border: none !important;
  background: inherit !important;
}

section {
  margin: 30px 0 0;
  padding: 12px 12px 12px 36px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: #bbb;
  border-right-color: #bbb;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: inset -2px -2px 30px rgba(0,0,0,.02), inset -1px 0 1px rgba(0,0,0,.1),0 2px 3px rgba(0,0,0,.1), 0 7px 14px rgba(127,127,127,.08);
     -moz-box-shadow: inset -2px -2px 30px rgba(0,0,0,.02), inset -1px 0 1px rgba(0,0,0,.1),0 2px 3px rgba(0,0,0,.1), 0 7px 14px rgba(127,127,127,.08);
          box-shadow: inset -2px -2px 30px rgba(0,0,0,.02), inset -1px 0 1px rgba(0,0,0,.1),0 2px 3px rgba(0,0,0,.1), 0 7px 14px rgba(127,127,127,.08);
}

/* Sidenav for Docs
-------------------------------------------------- */

.affix-sidebar {
  min-height: 1px;
}

.affixnav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.affixnav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
  text-align: left;
  font-size: 130%;
}
.affixnav > li > a:link,
.affixnav > li > a:visited {
  color: #08C !important;
}
.affixnav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.affixnav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.affixnav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

/* Chevrons */
.affixnav .bsicon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.affixnav > li > a:hover {
  background-color: #f5f5f5;
}
.affixnav a:hover .bsicon-chevron-right {
  opacity: .5;
}
.affixnav .active .bsicon-chevron-right,
.affixnav .active a:hover .bsicon-chevron-right {
  background-image: url(../images/site/glyphicons-halflings-white.png);
  opacity: 1;
}
.affixnav.affix {
  top: 40px;
}
.affixnav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

@media (min-width: 1200px) {
  .affixnav {
    width: 258px;
  }
}

@media (max-width: 980px) {
  .affixnav {
    top: 0;
    margin-top: 30px;
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  .affixnav {
    width: 166px;
    margin-top: 20px;
  }
  .affixnav.affix {
    top: 0;
  }
}

@media (max-width: 767px) {
  .affixnav {
    width: auto;
    margin-bottom: 20px;
  }
  .affixnav.affix {
    position: static;
    width: auto;
    top: 0;
  }
}
