/* == AccountExpiration Backend Style by David 'skOre' Deutsch == */
/* 2007.07.01 */

#aec_wrap {
overflow: hidden;
margin-left: -1px;
margin-right: -1px;
}

.topbar {
position: relative;
z-index: 500;
}

.topbar .container {
width: 820px;
}

.topbar div > ul a, .nav a {
outline: 0 none !important;
}

.pills a {
line-height: 12px;
padding: 10px;
}

.topbar-inner {
background-color: #850d0d;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#850d0d), to(#c31313));
background-image: -moz-linear-gradient(top, #850d0d, #c31313);
background-image: -ms-linear-gradient(top, #850d0d, #c31313);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #850d0d), color-stop(100%, #c31313));
background-image: -webkit-linear-gradient(top, #850d0d, #c31313);
background-image: -o-linear-gradient(top, #850d0d, #c31313);
background-image: linear-gradient(top, #850d0d, #c31313);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#850d0d', endColorstr='#c31313', GradientType=0);
-webkit-box-shadow: 0 1px 3px rgba(1, 1, 1, 0.75), 0 -1px 5px rgba(1, 1, 1, 0.6) inset;
-moz-box-shadow: 0 1px 3px rgba(1, 1, 1, 0.75), 0 -1px 5px rgba(1, 1, 1, 0.6) inset;
box-shadow: 0 1px 3px rgba(1, 1, 1, 0.75), 0 -1px 5px rgba(1, 1, 1, 0.6) inset;
border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
border-bottom-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
}

.topbar .nav > li > a {
color: #f9f9f9;
font-size: 110%;
}

.topbar form {
margin: 5px 0 -5px;
}

.topbar div > ul, .nav {
padding-left: 10px;
}

.dropdown-menu {
background-color: #850d0d;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#850d0d), to(#c31313));
background-image: -moz-linear-gradient(top, #850d0d, #c31313);
background-image: -ms-linear-gradient(top, #850d0d, #c31313);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #850d0d), color-stop(100%, #c31313));
background-image: -webkit-linear-gradient(top, #850d0d, #c31313);
background-image: -o-linear-gradient(top, #850d0d, #c31313);
background-image: linear-gradient(top, #850d0d, #c31313);
}

.topbar div > ul .menu-dropdown li a,
.nav .menu-dropdown li a,
.topbar div > ul .dropdown-menu li a,
.nav .dropdown-menu li a {
color: #fff;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
color: #ffffff;
text-decoration: none;
background-color: #000;
}

.topbar-fixed {
position: fixed;
top: 0;
z-index: 1030;
width: 98.5%;
margin: 0 auto;
}

.topbar-fixed .nav {
margin: 0 auto;
}

a.brand {
background: url(../images/admin/icons/aec_logo_small_header.png) no-repeat scroll 50% 30% transparent;
text-indent: 36px;
}

.tabs, .pills {
font-size: 110%;
}

div.adminheading {
float: left;
padding: 20px 10px 0px;
}

div.adminheading img {
float: left;
padding-left: 10px;
}

div.adminheading h2 {
float: left;
padding-left: 40px;
}

ul.pills {
margin: 0px auto;
width: 600px;
padding-top: 38px;
text-align: center;
}

.pill-content {
float: left;
width: 100%;
}

.tabs > li, .pills > li {
display: inline-block;
float: none;
}

table.adminlist {
}

.aec-buttons {
float: right;
margin-top: 20px;
margin-right: 1px;
padding: 24px;
background: #fff;
border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
border-bottom-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
}

.aec-buttons-fixed {
position: fixed;
top: 20px;
right: 10px;
z-index: 430;
box-shadow: 0 1px 3px rgba(1, 1, 1, 0.35);
background: #f9f9f9;
}

.btn-hl {
border-left: 1px solid #999999;
margin-left: 6px;
}

.aec-filters {
margin: 0 auto;
width: 540px;
padding: 6px 15px;
background: #eee;
-webkit-box-shadow: 0 1px 3px rgba(1, 1, 1, 0.35);
-moz-box-shadow: 0 1px 3px rgba(1, 1, 1, 0.35);
box-shadow: 0 1px 3px rgba(1, 1, 1, 0.35);
border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
border-bottom-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
text-align: center;
}

a#filter-button {
display: block;
clear: both;
}

.aec-filters label {
text-align: center !important;
}

.aec-filters input {
padding: 2px !important;
}

.aec-filters .inputs-list {
padding-left: 4px;
}

.filter-sub {
float: left;
width: 30%;
padding: 2px 8px;
}

.aec-buttons .btn {
margin-left: 6px;
padding: 8px 14px;
}

.tooltip {
font-size: 14px;
padding: 4px;
}

a.btn,
a.btn:link {
color: #fff;
text-decoration: none;
}

[class^="icon-"] {
}

a.btn span {
display: none;
}

a.btn span.btnhover {
margin-left: 8px;
display: inline;
}

#aec_center {
text-align: center;
padding: 12px;
}

#aec_center .aec_userinfobox_sub {
padding-bottom: 18px;
}

label {
width: 48%;
padding-right: 12px;
line-height: 16px;
}

div.clearfix form .input {
float: left;
margin-left: 0;
text-align: center;
}

div.clearfix .input {
width: 100%;
}

form .clearfix {
margin-bottom: 16px;
}

.clearfix>div.input>span {
display: inline-block;
font-size: 120%;
font-weight: bold;
padding-top: 6.5px;
}

div.input ul {
margin: 0;
padding-left: 14px;
list-style: circle;
}

.form-slim {
vertical-align: top;
}

.form-slim label {
width: 80px;
}

.form-slim .input {
margin-left: 100px;
}

div.liner {
border-bottom: 1px dashed #999999;
height: 16px;
margin: 0 33%;
position: absolute;
width: 22%;
}

.form-stacked {
vertical-align: top;
}

h5 {
line-height: 14px;
margin: 12px 2px 2px;
}

.popover .inner {
width: 320px;
background: #850d0d;
}

.popover .title {
margin: 0;
}

.popover .arrow {
border-bottom: 5px solid #850d0d;
}

.popover .content {
padding: 2px 14px 14px;
}

.lookupresult {
width: 43%;
padding: 0 1%;
margin: 1%;
display: inline-block;
text-align: center;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background: #eee;
vertical-align: top;
}

.lookupresult span.search-match {
background: #fda;
padding: 0 1px;
}

div.input>div>div {
margin: 0 auto;
width: 550px;
}

#aec_center h3 {
clear: both;
display: block;
font-size: 24px;
margin: 20px 0;
text-shadow: 0 1px 2px #bbb;
}

#aec_center div.btn {
padding: 0 4px;
}

#aec_center div.btn a {
display: block;
float: left;
height: 100px;
width: 90px;
vertical-align: middle;
text-decoration : none;
}

#aec_center div.btn a:link {
font-size: 0.9em;
color : #808080;
}

#aec_center div.btn:hover {
color : #333;
}

#aec_center div.btn a:active {
color : #808080;
}

#aec_center div.btn a:visited {
color : #808080;
}

#aec_center div.btn img {
margin-top: 11px;
}

#aec_center div.btn span {
display: block;
padding-top: 3px;
}

div.central_group {
clear: both;
}

div.central_quicksearch {
clear: both;
padding: 6px 12px 12px 12px;
margin: 12px auto;
max-width: 840px;
}

div.central_buttons {
margin: 12px auto;
max-width: 840px;
}

div.central_notices {
margin: 12px auto;
max-width: 840px;
}

div.central_notices .alert-message {
text-align: left;
}

div.central_notices .warning {
text-align: left;
background-image: -khtml-gradient(linear, center top, center bottom, from(#d6aa1a), to(#b59512));
background-image: -moz-linear-gradient(center top , #d6aa1a 0pt, #b59512 100%);
background-image: -ms-linear-gradient(center top , #d6aa1a 0pt, #b59512 100%);
background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #d6aa1a), color-stop(100%, #b59512));
background-image: -webkit-linear-gradient(center top , #d6aa1a 0pt, #b59512 100%);
background-image: -o-linear-gradient(center top , #d6aa1a 0pt, #b59512 100%);
background-image: linear-gradient(center top , #d6aa1a 0pt, #b59512 100%);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
color: #fff;
}

div.central_notices .alert-message p {
margin-top: 2px;
}

div.central_notices .alert-message h5 {
margin: 4px 0;
color: #fff;
}

div.central_notices .alert-message .help-block {
color: #eee;
float: right;
margin-top: -13px;
max-width: 600px;
}

.centerlogo {
background-color:#fff;
background-position: top center;
background-repeat: repeat-y;
padding: 60px 30px;
text-shadow: 0 1px 4px #999;
}

h1.importance_1 {
color: #4C0;
}

strong.importance_1 {
color: #4C0;
}

h1.importance_2 {
color: #DD0;
}

strong.importance_2 {
color: #DD0;
}

h1.importance_3 {
color: #C30;
}

strong.importance_3 {
color: #C30;
}

.diagnose {
background-color: #EED;
margin: 5px;
padding: 3px 3px 12px 3px;
}

.diagnose p {
margin-left: 92px;
}

.diagnose p.notice_0 {
margin-left: 92px;
background-color: #eee0dd;
}

.diagnose p.notice_1 {
margin-left: 92px;
}

.diagnose h1 {
margin-left: 80px;
}

.diagnose img {
position: relative;
float: left;
padding: 2px;
}

table.adminform th {
color: #586c79;
}

img.aec_icon {
vertical-align: bottom;
padding-right: 4px;
}

.aecadminform {
background-color: #ddd;
border-collapse: collapse;
margin: 16px 0;
width: 100%;
box-shadow: 0 1px 7px #000 inset, 0 1px 4px #ccc;
float: left;
}

.aeclegend {
float: left;
width: 100%;
}

.aecadminform_seamless {
border-collapse: collapse;
margin: -26px 0 15px -1px;
width: 100%;
box-shadow: 0 4px 7px #aaa inset;
float: left;
}

.userinfobox {
position: relative;
float: left;
margin: 0.4%;
width: 100%;
}

div.aec-invoices-pagination {
margin-top: 12px;
text-align: center;
}

.aec_userinfobox_sub {
background-color: #f9f9e9;
margin: 1%;
padding: 4px 16px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(255, 255, 255, 0.25);
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(255, 255, 255, 0.25);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(255, 255, 255, 0.25);
}

.aec_userinfobox_sub_inline {
display: inline-block;
}

.aec_userinfobox_sub h4 {
border-bottom: 1px solid #999;
color: #555;
margin: 0px 12px 24px;
text-align: center;
font-size: 20px;
text-shadow: 0 1px 2px #bbb;
}

table .span6 {
width: 45%;
}

.infobox_table {
margin-bottom: 24px;
width: 100%;
}

.infobox_table th {
border-bottom: 1px dashed #999;
text-align: left;
padding: 6px;
background: #ffffef !important;
}

.infobox_table td {
padding: 6px;
background: #ffffef;
}

.infobox_table tr.current-focus td {
background: #eff;
}

.aecadminform h2 {
margin-left: 12px;
text-shadow: 0 1px 2px #bbb;
}

#accordion .userinfobox {
width : 100%;
}

.userinfobox div.action {
position: relative;
float: right;
padding-right: 10px;
color: #555;
border-bottom: solid 3px #998;
margin-top: -8px;
margin-right: 50px;
clear: right;
}

.userinfobox div.action:hover {
position: relative;
float: right;
padding-right: 10px;
color: #555;
background-color: #fafaf4;
border-bottom: solid 3px #998;
margin-top: -8px;
margin-right: 50px;
clear: right;
}

.userinfobox h3 {
position: relative;
float: right;
padding-right: 10px;
color: #555;
font-size: 20px;
margin-top: 4px;
}

.userinfobox pre {
display: block;
width: 800px;
color: #000;
background-color: #e5f4ff;
border-left: 2px solid #998;
border-top: 2px solid #998;
border-right: 2px solid #fff;
border-bottom: 2px solid #fff;
padding: 10px;
}

.userinfobox div.important {
position: relative;
float: right;
clear: right;
margin-right: 18px;
width: 100px;
height: 110px;
background-image: url(../images/admin/gfx/important_sign.png);
}

.userinfobox div.explainblock {
position: relative;
float: left;
margin-left: 5%;
padding-left: 10px;
border-left: 3px solid #998;
}

div.rewriteinfoblock {
display: block;
position: relative;
float: left;
color: #000;
background-color: #e5f4ff;
padding: 4px;
margin: 4px;
}

div.setting_desc {
position: relative;
float: left;
padding: 11px;
clear: left;
width: 210px;
}

div.setting_form {
padding: 5px;
}

div.clear div.setting_desc {
clear: both;
}

fieldset {
clear: both;
}

div#aec_footer {
clear: both;
}

.aec_toggler {
color: #222;
margin: 0;
margin-top: 3px;
padding: 2px 5px;
background: #eee;
border-bottom: 1px solid #ddd;
border-right: 1px solid #ddd;
border-top: 1px solid #f5f5f5;
border-left: 1px solid #f5f5f5;
font-size: 11px;
font-weight: normal;
font-family: 'Andale Mono', sans-serif;
clear: left;
float: none !important;
font-size: 11px !important;
line-height: 20px;
}

.small_accordion {
margin: 4px;
width: 340px;
}

.accordion {
margin: 4px;
}

.element {

}

.element p {
margin: 0;
padding: 4px;
}

.float-right {
padding:10px 20px;
float:right;
}

blockquote {
text-style:italic;
padding:5px 0 5px 30px;
}

.aec_readout {
margin: 0 auto;
padding: 12px 3px 12px 6px;
border-bottom: solid 3px #998;
width: 320px;
}

.aec_readout_bit {
padding: 12px 3px 12px 6px;
border-bottom: solid 3px #998;
margin-bottom: 16px;
}

.aec_readout_bit td {
padding: 4px;
}

.aec_readout_bit th {
border-bottom: 1px dashed #999;
}

.aec_import {
font-align: right;
margin: 0 auto;
padding: 12px 3px 12px 6px;
border-bottom: solid 3px #998;
width: 680px;
}

.aec_import_large {
font-align: right;
margin: 0 auto;
padding: 12px 3px 12px 6px;
border-bottom: solid 3px #998;
width: 98%;
}

table#aec_import_table {
width: 100%;
margin-bottom: 12px;
}

table#aec_import_table th {
text-align: left;
background-color: #ddd;
}

table#aec_import_table td {
background: #fff;
padding: 3px;
}

div.aec_processor_experimentalnote {
margin: 12px;
border: 1px solid #c16161;
background-color: #eaa;
padding: 12px;
}

.aec_backend_page_heading {
color: #586c79;
height: 70px;
padding-left: 70px;
font-size: 24px;
}

div.aec_processor_experimentalnote h1 {
color: #000;
}

div.aec_processor_experimentalnote p {
font-size: 130%;
}

div#aec-toolbox-list {
width: 50%;
padding: 20px;
min-width: 400px;
margin: 0 25%;
}

div#aec-toolbox-result {
margin: 0px 20px;
margin-top: 20px;
width: 98%;
background: #fff;
border: 2px solid #eee;
}

div#aec-toolbox-form {
background: none repeat scroll 0 0 #EEEEEE;
margin: 0 25%;
text-align: center;
width: 50%;
padding: 20px;
}

div#aec-toolbox-form submit {
margin: 40px 10px 10px;
position: relative;
right: -50%;
}

td.aec_bigcell {
overflow-x: auto;
max-width: 1000px;
}

.icon-32-extensions {
background-image:url(../images/admin/icons/aec_central_icon.png);
}

div.current input, div.current textarea, div.current select {
float: inherit !important;
}

#aec_iconlist_flag_blue { background: url(../images/site/icons/flag_blue.png) no-repeat; text-indent: 14px; }
#aec_iconlist_flag_green { background: url(../images/site/icons/flag_green.png) no-repeat; text-indent: 14px; }
#aec_iconlist_flag_orange { background: url(../images/site/icons/flag_orange.png) no-repeat; text-indent: 14px; }
#aec_iconlist_flag_purple { background: url(../images/site/icons/flag_purple.png) no-repeat; text-indent: 14px; }
#aec_iconlist_flag_pink { background: url(../images/site/icons/flag_pink.png) no-repeat; text-indent: 14px; }
#aec_iconlist_flag_red { background: url(../images/site/icons/flag_red.png) no-repeat; text-indent: 14px; }
#aec_iconlist_flag_yellow { background: url(../images/site/icons/flag_yellow.png) no-repeat; text-indent: 14px; }

#aec_colorlist_BBDDFF { background: #BBDDFF !important; }
#aec_colorlist_5F8BC4 { background: #5F8BC4 !important; }
#aec_colorlist_A2BE72 { background: #A2BE72 !important; }
#aec_colorlist_DDFF99 { background: #DDFF99 !important; }
#aec_colorlist_D07C30 { background: #D07C30 !important; }
#aec_colorlist_C43C42 { background: #C43C42 !important; }
#aec_colorlist_AA89BB { background: #AA89BB !important; }
#aec_colorlist_B7B7B7 { background: #B7B7B7 !important; }
#aec_colorlist_808080 { background: #808080 !important; }

/* Overrides */

table.adminlist .pagination {
margin: 1px auto 0;
}

.pagination div.limit {
height: inherit;
line-height: 22px;
}

#submenu-box {
display: none !important;
}

.submenu-box, div.m {
background: #fff;
}

#toolbar-box {
display: none !important;
}

#element-box div.t, #element-box div.t div.t, #element-box div.t div.t div.t,
#element-box div.b, #element-box div.b div.b, #element-box div.b div.b div.b {
height: 0;
background: none;
padding: 0;
}

#element-box, #toolbar-box, #submenu-box {
padding: 0;
font-size: 11px;
}

#element-box div.m {
border: none;
padding: 0 !important;
}

#content-box div.m {
padding: 0;
}

#content-box .padding {
padding: 0;
}

#system-message {
margin: 0 0 -10px -25px;
}

.prettyprint {
background-color: #fefbf3;
border: 1px solid rgba(0, 0, 0, 0.2);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
padding: 9px;
line-height: 120%;
font-size: 100%;
}

table.adminlist thead th {
border-bottom: none;
padding: 4px 10px;
}

table.adminlist thead th:nth-child(1) {
border-left: none;
}

table.adminlist tfoot td, table.adminlist tfoot th {
background: #f5f5f5;
}

.button2-left, .button2-right, .button2-left div, .button2-right div {
background: none;
}

.button2-right .start,
.button2-right.off .start,
.button2-right .prev,
.button2-right.off .prev {
background: none;
}

.button2-left.off .end,
.button2-left .end,
.button2-left.off .next,
.button2-left .next,
.button2-left .page,
.button2-left .blank {
background: none;
}

.button2-right a, .button2-right span,
.button2-left a, .button2-left span {
padding: 0;
}

div.button2-right span,
div.button2-left span,
div.button2-right a,
div.button2-left a {
padding: 0 12px;
}

div.page span,
div.page a,
div.button2-right a,
div.button2-left a {
border-width: 1px;
color: #555;
margin: 0 2px;
border-radius: 3px;
text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
border-color: #bbb #ccc #ccc;
}

div.page span,
div.button2-right span,
div.button2-left span {
background-image: -khtml-gradient(linear, center top, center bottom, from(#e6e6e6), to(#dcdcdc));
background-image: -moz-linear-gradient(center top , #e6e6e6 0pt, #dcdcdc 100%);
background-image: -ms-linear-gradient(center top , #e6e6e6 0pt, #dcdcdc 100%);
background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #e6e6e6), color-stop(100%, #dcdcdc));
background-image: -webkit-linear-gradient(center top , #e6e6e6 0pt, #dcdcdc 100%);
background-image: -o-linear-gradient(center top , #e6e6e6 0pt, #dcdcdc 100%);
background-image: linear-gradient(center top , #e6e6e6 0pt, #dcdcdc 100%);
border-left: 1px solid #aaa;
border-right: 1px solid #aaa;
border-style: solid;
border-width: 1px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 2px #aaa inset;
-moz-box-shadow: 0 1px 2px #aaa inset;
box-shadow: 0 1px 2px #aaa inset;
}

div.page a,
div.button2-right a,
div.button2-left a {
background-image: -khtml-gradient(linear, center top, center bottom, from(#fff), to(#e0e0e0));
background-image: -moz-linear-gradient(center top , #fff 0pt, #e0e0e0 100%);
background-image: -ms-linear-gradient(center top , #fff 0pt, #e0e0e0 100%);
background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #fff), color-stop(100%, #e0e0e0));
background-image: -webkit-linear-gradient(center top , #fff 0pt, #e0e0e0 100%);
background-image: -o-linear-gradient(center top , #fff 0pt, #e0e0e0 100%);
background-image: linear-gradient(center top , #fff 0pt, #e0e0e0 100%);
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-style: solid;
border-width: 1px;
border-radius: 3px;
-webkit-box-shadow: 0 0 1px #fff inset;
-moz-box-shadow: 0 0 1px #fff inset;
box-shadow: 0 0 1px #fff inset;
}

div.page a:hover,
div.button2-right a:hover,
div.button2-left a:hover {
border: 1px solid #777;
border-radius: 3px;
-webkit-box-shadow: 0 0 2px #999999;
-moz-box-shadow: 0 0 2px #999999;
box-shadow: 0 0 2px #999999;
}

div.button2-right div.start span,
div.button2-right div.prev span,
div.button2-left div.end span,
div.button2-left div.next span {
background: #eee;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border: none;
margin: 1px;
}

div.limit select {
width: 48px;
padding: 0;
margin-left: 8px;
background: #eee;
margin-top: 2px;
}
