h1.importance_1,
strong.importance_1 {
	color: #4C0;
}

h1.importance_2,
strong.importance_2 {
	color: #DD0;
}

h1.importance_3,
strong.importance_3 {
	color: #C30;
}

.diagnose {
	background-color: #EED;
	margin: 5px;
	padding: 3px 3px 12px 3px;
	p {
		margin-left: 92px;
		.notice_0 {
			margin-left: 92px;
			background-color: #eee0dd;
		}
		.notice_1 {
			margin-left: 92px;
		}
	}
	h1 {
		margin-left: 80px;
	}
	img {
		position: relative;
		float: left;
		padding: 2px;
	}
}
