table.aeceventlog_table
{
	margin: 20px;
	border: 1px solid #999;
	width: 95%px;
}

tr.aeceventlog_row_header
{
	background-color: #333;
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
}

tr.aeceventlog_row_header th
{
	padding: 1px;
}

tr.aeceventlog_row
{
	background-color: #FFF;
	color: #000;
	font-weight: normal;
	font-size: 12px;
}

tr.aeceventlog_row td
{
	padding: 1px;
}