header.header,
div.subhead-collapse,
div.subhead,
.btn-subhead {
	display: none;
}

body {
	> nav.navbar {
		z-index: 25;
	}
}

.container-fluid {
	padding: 0px;
	margin-top: 3px;
	z-index: 50;
	margin-left: -1px;
	margin-right: -1px;
}

header.header {
	display: none;
}

nav.navbar-fixed-top-minified {
	position: relative;
}

#system-message-container {
	display: none;
	margin: 0 0 -10px -25px;
}

.form-horizontal .control-label {
	text-align: right;
}

.aec-navbar .nav > li > a {
	font-weight: normal;
	padding: 15px 15px 10px;
}

#status {
	box-shadow: none !important;
}

.container-main>hr {
	display: none;
}
