.modal {
	p {
		margin: 0 4px 8px 10px;
		color: #333;
	}
	h3 {
		font-size: 180%;
		font-weight: normal;
		line-height: 100%;
	}
	h4 {
		margin: 16px 0px 4px -17px;
	}
	&-header { padding: 11px 15px 8px; }
	&-body {
		overflow: hidden;
		max-height: 1000px;
	}
	&.fade {
		.transition(e('opacity .1s linear'));
	}
	&-overlay {
		.box-shadow( 0 1px 8px #777 inset );
		margin: 12px 10px 14px -20px;
		padding: 12px 0 4px 64px;
		width: 108%;
		background: url(../images/admin/gfx/cardboard_flat.png);
		p {
			color: #555;
		}
		.btn {
			.box-shadow( 0 2px 4px #aaa );
			font-weight: bold;
			display: inline-block;
			line-height: 90%;
			margin-top: -2px;
		}
	}
	&-backdrop, &-backdrop.fade.in {
		opacity: 0.6;
	}
}
