.group-colors {
	position: absolute;
	margin-left: -8px;
	margin-top: -3px;

	.group-colors-stripe {
		width: 6px;
		height: 2em;
		display: inline-block;
		margin-right: -3px;
		opacity: 0.8;

		&:hover {
			opacity: 1;
		}

		&:first-child {
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
		}
		&:last-child {
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
		}
	}
}

.popover-markup {
	display: inline-block;
}

table.table-selectable {
	.box-shadow(~"0 2px 3px rgba(0,0,0,.1), 0 7px 14px rgba(127,127,127,.08)");

	background-color: #f3f3f3;

	thead tr th {
		i.text-muted {
			.transition(all 400ms ease-in-out);
			opacity: 0.2;

			&:hover {
				color: @brand-info;
			}
		}

		.select-all {
			opacity: 0.5;
		}

		&:hover {
			i.text-muted {
				opacity: 1;
			}

			.select-all {
				opacity: 1;
			}
		}

		&.col-filtered {
			border-bottom: 2px solid saturate(lighten(@brand-info, 50%), 50%);
			.box-shadow(0px 2px 1px rgba(0, 0, 0, 0.4));
		}

	}

	tbody tr td {
		vertical-align: middle;

		input[type='checkbox'] {
			display: none;
		}
	}

	.enabled, .success {
		font-weight: normal;
	}
}

#aec-listsearch {
	.transition(opacity 400ms ease-in-out);

	opacity: 0.5;

	&:hover {
		opacity: 1;
	}
}

#searchclear {
	.transition(opacity 100ms ease-in-out);

	position: absolute;
	right: 64px;
	top: 2px;
	bottom: 0;
	height: 14px;
	margin: auto;
	font-size: 14px;
	cursor: pointer;
	color: #ccc;

	&.disabled {
		opacity: 0;
	}
}
